[2013-09-21 20:45] sckott opened #1 "keep in mind we have a functions here and there in other pkgs we could start off with"
can close, just wanted to remind us...

[2013-10-13 06:48] sckott opened #2 "Need to finish content negotiation function"
Docs: http://www.crosscite.org/cn/
- [x] Add support for adding styles for csl's (more info on styles [here](https://github.com/citation-style-language/locales))
- [ ] ...

[2013-10-13 06:50] sckott opened #3 "Add fxn for Prospect API when further along"
Docs: http://prospectsupport.labs.crossref.org/researchers-the-prospect-common-api/

[2013-10-17 18:02] #2 closed, assigned to nobody

[2013-11-22 18:32] sckott opened #4 "Add browse function?"
In various cases folks may get a DOI if they are doing text mining, or altmetrics research. Perhaps we can use crossref functions to open up the paper in their default browser by resolving the DOI.

[2013-12-12 06:03] karthik opened #5 "Standardize request types"
The merge of two sets of code has resulted in two different approaches to making web calls. There is both the old `RCurl` way and some `httr`. Standardize to httr and add `stop_for_status` and assertions with assertthat?

[2014-02-11 17:58] sckott opened #6 "New crossref API"
https://github.com/CrossRef/fundrefplus_doc/blob/master/funder_kpi_api.md

Example calls:

`http://api.crossref.org/works?filter=has-orcid:true,from-pub-date:2004-04-04`

and

`http://api.crossref.org/works/10.1651/0278-0372%282005%29025%5B0159:GR%5D2.0.CO;2`

[2014-03-08 16:37] sckott opened #7 "Crossref search types"
From Noam Ross:

There is another crossref endpoint that likely does this, but I don't think the public has access, only paying crossref members I think

http://help.crossref.org/#home

[2014-04-03 17:39] gnudon opened #8 "406 error?"
Is crossref open to the public? I get a 406 error when I try:
install_github('rcrossref')
Installing github repo rcrossref/master from hadley
Downloading rcrossref.zip from https://github.com/hadley/rcrossref/archive/master.zip
Error: client error: (406) Not Acceptable

[2014-04-03 17:48] #8 closed, assigned to nobody

[2014-04-11 05:19] sckott opened #9 "Fundref API"
http://crosstech.crossref.org/2014/04/%E2%99%AB-researchers-just-wanna-have-funds-%E2%99%AB.html

eg., call, search for funders with term _nsf_ http://api.crossref.org/funders?query=NSF

[2014-06-01 21:12] #6 closed, assigned to nobody

[2014-06-01 21:39] sckott opened #10 "TDM API"
Used to be called Prospect...TDM now http://tdmsupport.crossref.org/

[2014-06-01 21:39] #3 closed, assigned to nobody

[2014-06-02 04:02] cboettig opened #11 "Fix "bibentry" conversion for non-standard classes"
Figshare DOIs (etc) cannot be converted into `bibentry` types because their bibtex format uses the class `data`, which isn't recognized by traditional bibtex.  (biblatex might do it, see RefManageR package for a biblatex parser... who knew biblatex was different than bibtex).

This fails currently:

[code]

[2014-06-02 23:46] #1 closed, assigned to nobody

[2014-06-03 15:08] sckott opened #12 "Bug in cr_cn"
In the examples for this function

[2014-06-03 15:13] sckott opened #13 "Random doi service seems to be down"
`cr_r` function is down...

[2014-06-03 15:16] #5 closed, assigned to nobody

[2014-06-05 16:36] #11 closed, assigned to nobody

[2014-09-08 05:07] sckott opened #20 "Newish Crossref API"
https://github.com/CrossRef/rest-api-doc

Seems they've unified many services into one API with different endpoints,

with base url `http://api.crossref.org/`

[2014-09-08 17:00] sckott opened #21 "Fix tests, some are broken with recent changes"

[2014-09-08 17:11] sckott opened #22 "Content negotiation is broken"
Fix it

![](http://stream1.gifsoup.com/view1/1490566/fix-it-o.gif)

[2014-09-08 20:21] sckott opened #23 "Data output okay?"
paging @noamross I changed to using `jsonlite` internally to parse output, using the default parsing that `jsonlite` does.  Curious if you want to check and see if the code you use from this pkg is still okay.

thanks :beers:

[2014-09-08 22:23] #23 closed, assigned to nobody

[2014-09-11 13:48] sckott opened #24 "cr_search_free is broken the output formatting"

[2014-09-11 13:58] #24 closed, assigned to nobody

[2014-09-11 13:59] #13 closed, assigned to nobody

[2014-09-19 19:02] sckott opened #25 "Add /journals endpt function"

[2014-09-19 19:03] sckott opened #26 "Add /prefixes endpt function"

[2014-09-22 05:45] #25 closed, assigned to nobody

[2014-10-09 21:48] sckott opened #27 "cr_members doesn't currently allow /works"
fix it

[2014-10-10 01:58] #27 closed, assigned to nobody

[2014-10-10 01:58] #26 closed, assigned to nobody

[2014-10-10 02:02] sckott opened #28 "Add licenses endpoint"

[2014-10-10 02:17] #28 closed, assigned to sckott

[2014-10-16 13:37] sckott opened #29 "pmid2doi service"
http://www.pmid2doi.org/

[2014-10-17 23:58] #12 closed, assigned to nobody

[2014-10-17 23:59] #20 closed, assigned to nobody

[2014-10-18 00:25] sckott opened #30 "when empty facet fields just reduce to a single empty list or NULL"
[code]

make

[code]

[2014-10-18 01:15] #21 closed, assigned to sckott

[2014-10-19 05:36] sckott opened #31 "Add vignettes"

[2014-10-19 05:39] #30 closed, assigned to sckott

[2014-10-20 22:16] #4 closed, assigned to nobody

[2014-10-20 23:47] sckott opened #32 "Redo outputs of cr_fundref()"
To be in line with other new `cr_*()` functions

[2014-10-21 00:52] #22 closed, assigned to nobody

[2014-10-21 01:19] #9 closed, assigned to nobody

[2014-10-22 02:44] #32 closed, assigned to nobody

[2014-11-11 06:54] #29 closed, assigned to sckott

[2014-11-25 16:02] #31 closed, assigned to sckott

[2014-11-25 16:04] sckott opened #33 "Add more tests"

[2014-12-07 18:01] sckott opened #34 "Deprecate openurl functions"
Jeff said they're trying to sunset openurl service http://www.crossref.org/openurl/ so deprecate any fxns that use it in next version, then defunctify the next version

[2014-12-08 14:59] sckott opened #35 "donttest examples"

[2014-12-11 01:16] #35 closed, assigned to sckott

[2014-12-12 22:30] sckott opened #36 "cr_citation_count() should return NA or NULL when DOI not found"

[2014-12-13 00:12] sckott opened #37 "Blargh, better failing needed when DOI's not found in new crossref API fxns"
working on it now...

[2014-12-13 02:19] #36 closed, assigned to sckott

[2014-12-13 02:42] sckott opened #38 "cr_members facets output is not consistent"
e.g.,

[code]

[code]

[code]

These should all be NULL

[2014-12-13 16:27] sckott opened #39 "cr_search() should fail better when DOI not found"
e.g.,,

[code]

[code]

[2014-12-13 17:21] #33 closed, assigned to sckott

[2014-12-13 17:39] #38 closed, assigned to sckott

[2014-12-13 17:40] #39 closed, assigned to sckott

[2014-12-16 07:20] sckott opened #40 "Bug in cr_journals()"
[code]

[code]

[2014-12-17 02:12] sckott opened #41 "TDM: elife is a problem"
When I request header links to navigate to full text content, I get (just showing the link element in the header)

[code]

[code]

The problem is the link http://elifesciences.org/lookup/doi/10.7554/eLife.04059 has type="application/pdf", but that link is for navigating to xml and pdf versions via appropriate accept headers

------

Emailed Ian about this..  for now, putting in a stop gap so this

[2014-12-17 02:42] #40 closed, assigned to sckott

[2014-12-17 02:43] sckott opened #42 "Add functions to directly go to extract xml, pdf or plain"

[2014-12-17 03:03] #42 closed, assigned to sckott

[2014-12-17 07:09] sckott opened #43 "allow caching of pdf files since they take so long to download"

[2014-12-17 14:50] sckott opened #44 "Notes to beware that some results of has-full-text not actually full text"
Elsevier the obvious offender here. And maybe others

[2014-12-17 16:48] sckott opened #45 "Add remaining tests"

[2014-12-17 18:06] #45 closed, assigned to sckott

[2014-12-17 18:12] #44 closed, assigned to sckott

[2014-12-19 03:39] #37 closed, assigned to sckott

[2014-12-19 15:56] sckott opened #46 "readme fixes"
These packages contain README.md files with invalid HTML output created
by pandoc 1.12.4.2 according to W3C-validator.

I attach the HTML errors and warnings found below, and will put copies
of the corresponding HTML files up at
http://www.r-project.org/nosvn/pandoc.

Please investigate the problems and fix as needed.

Afaics, many of the problems are caused by adding "raw" HTML elements in
the RE

[2014-12-20 18:45] sckott opened #47 "Some parsing not working correctly in `cr_members()`"
e., g

[code]

gives all kinds of funky column headers

[code]

[2014-12-23 18:57] sckott opened #48 "pmid2doi and vice versa fxn not working..."
Api may have changed

[2014-12-23 19:08] #46 closed, assigned to sckott

[2015-01-02 22:59] sckott commented on #48
closing, opening new issue for next milestone

[2015-01-02 22:59] #48 closed

[2015-01-02 23:00] sckott opened #49 "Bring back pmid2doi and doi2pmid when back online"
see #48

[2015-01-02 23:28] #47 closed

[2015-01-03 00:06] sckott opened #50 "Pensoft URLs don't include useful info for the object"
need to do special handling for this case...

[2015-01-03 01:26] #43 closed

[2015-01-03 01:26] #50 closed

[2015-01-16 18:33] sckott commented on #41
got email:

[2015-01-16 18:33] njahn82 opened #53 "Error or warn when NA or NULL is used as input"
The CrossRef API returns valid json-output for the queries

http://api.crossref.org/works/NULL/
http://api.crossref.org/works/NA/

which is a very confusing behavior.  Functions should better fail or warn when  `NULL` objects or `NA` values are inputted. I can work on the issue, if needed.

[2015-01-16 18:35] sckott commented on #53
@njahn82 That'd be great if you could do that - in addition, they return data for ISSN's that don't exist, which I've brought up with them https://github.com/CrossRef/rest-api-doc/issues/37

[2015-01-16 18:37] njahn82 commented on #53
Ok @sckott, will try to control inputs in the next days

[2015-01-16 18:44] sckott commented on #53
thanks :+1:

[2015-01-16 20:46] sckott commented on #10
I think this is more or less working now, could likely be edge cases - given sufficient warning about certain publishers like elife that have broken content types, and elsevier that well, you know - don't actually give full text unless you have the one ring to rule them all

[2015-01-16 20:46] #10 closed

[2015-01-26 09:07] #53 closed

[2015-02-03 20:25] sckott opened #56 "Reminder to fix readme"
on 2015-01-30

[code]

[2015-02-07 01:17] sckott opened #57 "cr_ft_link() broken in some cases now b/c of unspecified content type"
e.g.

[code]

[2015-03-03 16:05] #56 closed

[2015-03-03 16:37] sckott opened #58 "use new crossref API in cr_citation_count when data avail"
`cr_citation_count()` replace old openurl functionality with new crossref api data, once they have citation data included inoutput

[2015-03-03 16:37] #34 closed

[2015-03-03 19:48] sckott commented on #57
pretty sure this is fixed

[2015-03-03 19:48] #57 closed

[2015-03-11 00:41] sckott opened #59 "cr_cn failing in some cases"
e.g.,

[code]

what? :cry:

[2015-03-11 06:20] njahn82 commented on #59
Hi Scott, the reason is that this DOI has been registered with [DataCite](http://data.datacite.org/10.5284/1011335) and not with CrossRef.

[2015-03-11 06:37] njahn82 commented on #59
this works

[code]

[code]

[2015-03-11 14:43] sckott opened #60 "Add citeproc API"
http://crosscite.org/citeproc/

[2015-03-11 14:43] sckott commented on #59
@njahn82 Right, i just figured, wrongly I guess, that Datacite DOIs would work with Crossref's content negotiation, especially since Datacite's page https://www.datacite.org/services/content-negotiation.html says that they work together with Crossref on it

anyway, i see you found a format type that works, thanks - perhaps I should put in the docs that Datacite DOIs will work with that format type

[2015-03-11 22:33] #59 closed

[2015-03-11 22:38] #60 closed

[2015-03-11 22:39] sckott opened #61 "doiRA API for getting agency"
So there is this API for getting DOI minting agency:  http://www.crossref.org/crweblog/2013/05/find_the_registration_agency_f.html

But it fails to give proper json in some cases, see https://gist.github.com/sckott/795a5d09696ff0679ae1

Started a fxn incase we want to use it

[code]

[2015-04-08 22:01] nickbart1980 opened #62 "cr_cn works with bibtex but not with citeproc-json"
[code]

[code]

[2015-04-08 22:08] sckott commented on #62
thanks @nickbart1980

`cr_cn(dois = "10.1002/app.27716", format = "bibtex")` returns a character string with newlines, so using `cat()` pretty prints the text, but `cr_cn(dois = "10.1002/app.27716", format = "citeproc-json")` returns a list, which `cat()` can not process.

anyway, that's not really a bug, but the intended behavior.

Do you want `citeproc-json` to be presented differently than a li

[2015-04-09 07:43] nickbart1980 commented on #62
Thank you. – Well, I was expecting this format, as used by citeproc-js (Zotero etc.), pandoc-citeproc and other citeprocs; see https://github.com/citation-style-language/schema/blob/master/csl-data.json:

[code]

Is this possible?

[2015-04-09 16:07] sckott commented on #62
hey @nickbart1980 - okay, adding a parameter to the fxn for this...

[2015-04-09 16:19] sckott commented on #62
@nickbart1980 okay, reinstall from github `devtools::install_github("ropensci/rcrossref")` and try e.g.,

[code]

[2015-04-10 09:06] nickbart1980 commented on #62
Thank you. However, as it turns out, this format is not really citeproc JSON – and thus should be renamed to avoid confusion.
See kjw, at https://github.com/CrossRef/rest-api-doc/issues/43: “The default response type of the API is not citeproc JSON. It is a format that is based on citeproc JSON but, as you've noted, differs in some ways that make it incompatible with citeproc tools.”

kjw also not

[2015-04-10 15:58] sckott commented on #62
thanks @nickbart1980  - didn't know they did content negotiation with that API, i use `http://dx.doi.org` in `cr_cn()` function, and docs at http://www.crosscite.org/cn/  I've opened an issue CrossRef/rest-api-doc#52 to ask about whether we should use the new API for this stuff

I will rename the type returned by the current `citeproc-json` to something else, and use that trick to give proper data

[2015-04-10 16:27] sckott commented on #62
@nickbart1980 reinstall. See examples https://github.com/ropensci/rcrossref/blob/master/R/cr_cn.r#L30-L31

[2015-04-10 16:36] mfenner commented on #62
Interesting discussion. Similar to the CrossRef REST API I am also using Citeproc JSON in the Lagotto API (e.g. http://labs.lagotto.io/api/works/doi:10.1371/journal.pone.0055723). Stricly speaking it is not correct Citeproc JSON, as I am using other attributes in addition to the standard Citeproc attributes (similar to CrossRef), but the Citeproc JSON spec doesn't allow that.

There has been discu

[2015-04-10 17:02] sckott commented on #62
which case?

I hadn't thought about whether the citeproc you returned from Lagotto was proper or not. No one's complained about that I've heard, but maybe you have heard it

[2015-04-10 17:22] mfenner commented on #62
Multiple flavors of JSON. It seems to me that the CrossRef REST API is the direction CrossRef is going, and it provides much more flexibility that the content negotation API (which is basically for single DOIs).

What I want to do in one of the next Lagotto releases is to use CIteproc.js in the admin frontend, and this will show me how consistent my JSON is with Citeproc JSON. The biggest problem

[2015-04-10 17:55] sckott commented on #62
Right, it does make sense to go with the Crossref REST API.  Thinking about doing that.

[2015-04-11 06:19] mfenner commented on #62
Scott, it seems you can also use the CrossRef REST API with content negotation (from the documentation at http://www.crosscite.org/cn/):

[code]

This should give you a nice transition path to the REST API.

[2015-04-13 20:38] sckott commented on #62
thanks @mfenner

[2015-05-20 00:16] sckott commented on #62
considering this done

[2015-05-20 00:16] #62 closed

[2015-07-01 15:29] sckott opened #63 "agency route is 404ing"
CrossRef/rest-api-doc#63

should resolve itself when back up, or if not coming back, defunctify the function

[2015-07-01 15:54] sckott commented on #63
fixed, closing

[2015-07-01 15:54] #63 closed

[2015-07-03 14:01] sckott opened #64 "Import all non-base R pkg functions"
see http://cran.rstudio.com/web/checks/check_results_rcrossref.html

[2015-07-03 14:01] sckott opened #65 "Check and fix any httr v1 problems"

[2015-07-03 14:19] sckott commented on #65
only potential problem with `cr_ft_text()` and that solved in c5e61c9

[2015-07-03 14:19] #65 closed

[2015-07-03 14:32] #64 closed

[2015-08-08 18:42] sckott opened #66 "Fail better on limit too large"

[2015-08-08 18:43] sckott commented on #66
See also ropensci/fulltext#57

[2015-08-09 15:11] #66 closed

[2015-08-24 17:17] sckott opened #67 "Support rate limiting for TDM"

[2015-08-25 22:54] sckott opened #68 "Error on /members route cause facet not supported"
[code]

[2015-08-26 00:33] #68 closed

[2015-09-07 22:38] sckott opened #69 "Licenses by publisher"
https://github.com/CrossRef/rest-api-doc/issues/50#issuecomment-136752240

perhaps add to examples, or may need to support more formally...

[2015-09-29 02:01] sckott opened #70 "Return `link` array in works and family requests"
right now, we skip it if returned, probably makes more sense to return it.

Similar thing returned for license data, and we collapse that down to individual columns

[2015-10-07 02:03] sckott commented on #49
Replace this with NCBI service  at http://www.ncbi.nlm.nih.gov/pmc/pmctopmid/

[2015-10-07 02:14] sckott opened #71 "Consider pkg name change"
Given that Crossref's API software is `cayenne` https://github.com/CrossRef/cayenne, perhaps `jalapeno`

[2015-10-09 15:41] sckott commented on #71
Another reason is that other groups may use Crossref's codebase for their API, meaning this client would work with not just Crossref data.

any thoughts @cboettig

[2015-10-12 17:14] cboettig commented on #71
sounds good to me!

[2015-10-16 02:11] sckott opened #72 "click through..."
[code]

[2015-10-22 16:07] sckott opened #73 "New filter types"

[2015-10-27 15:17] sckott opened #74 "fundref to funders"
from sckott/serrano#11

[2015-10-29 01:30] sckott opened #75 "support auth for TDM"

[2015-10-29 01:30] sckott commented on #75
related to #72

[2015-10-29 20:00] sckott opened #76 "date conversion helper"
`convert_crossref_date` = Using the date probably important, but we need to make users convert separately, and not doing by default internally

[2015-11-03 16:35] sckott opened #77 "Cursor for paging"
https://github.com/CrossRef/rest-api-doc/blob/master/rest_api.md#deep-paging-with-cursors

[2015-11-17 01:25] sckott opened #78 "Drop crosscite"
in favor of content negotiation via dx.doi.org

[2015-11-17 15:47] sckott opened #79 "Funders route"
make note that funders without IDs don't show up on the `/funders` route

[2015-11-21 20:44] egonw opened #80 "cr_cn() example gives a 404"
The following example in the documentation gives a 404:

    cr_cn(dois="10.16126/science.169.3946.635")

[2015-11-22 00:29] sckott commented on #80
thanks, I think that prefix is bad, woops, should be `10.1126`

the api call for aaas http://api.crossref.org/members/221

will fix

[2015-11-22 00:47] #80 closed

[2015-11-24 19:19] sckott opened #81 "Note that sample param ignored unless /works used"

[2015-11-27 01:11] sckott opened #82 "Make crosscite defunct"
for v0.5

[2015-11-27 01:11] sckott opened #83 "Make cr_fundref defunct"
for v0.5

and point users to `cr_funders `

[2015-11-27 01:12] #74 closed

[2015-11-27 01:12] #78 closed

[2015-11-27 01:14] #79 closed

[2015-11-27 05:35] #81 closed

[2015-11-27 05:44] sckott opened #84 "Affiliation inside of author hash wrong"
when parsing in R, the affiliation key is stripped somehow, fix

[2015-11-27 18:01] #73 closed

[2015-11-30 19:39] sckott commented on #49
done, sorted in b8ed30e071312a830642edbf3ab25311e4536d12

[2015-11-30 19:39] #49 closed

[2015-12-01 23:16] sckott commented on #70
additional testing of links output in 778c78b

[2015-12-01 23:16] #70 closed

[2015-12-04 16:01] njahn82 opened #85 "cr_cn: support link-based content type requests for more formats"
While using `cr_cn`, I realized that one doi works with link-based content type requests

[code]

but not with accept header statements

[code]

In order to avoid confusion in future, I thought it might be helpful, if we switch to link-based content type requests not only for `citeproc-json` (see #62), but for all formats except `text` and `datacite-xml`

[2015-12-04 16:03] njahn82 commented on #85
created a pull request #86

What do you think @sckott ?

[2015-12-04 16:14] sckott commented on #85
Thanks for raising this and the PR.

In principle seems like a good idea, but I do want to make sure this is a move that Crosssref folks think is a good idea. E.g., I wonder if non-Crossref DOIs will still work against api.crossref.org

[2015-12-04 16:22] njahn82 commented on #85
Right. As an alternative, we could add an format option in `cr_works` to avoid conflicts with non_CrossRef DOIs in `cr_cn`

[2015-12-04 16:36] sckott commented on #85
Hmm, I don't follow. Can you clarify?

One problem with moving to api.crossref.org is we'd have to check minting agency first, which is another API call (e.g., http://api.crossref.org/works/10.5284/1011335/agency for a datacite DOI, for a medra DOI http://api.crossref.org/works/10.3233/978-1-58603-887-8-100/agency) - I'd rather not do another API call, but it is very fast, so we could try it

Hmm,

[2015-12-04 16:47] njahn82 commented on #85
I thought of providing an extra parameter

[code]

for people who want to re-use the raw output within R.

The `cr_works` documentation warns that this function only works for CrossRef DOIs, so the agency is transparent to the users.

[2015-12-04 16:55] njahn82 commented on #85
Sorry, just realize this would only work for querying DOIs, but not when filtering etc like

http://api.crossref.org/works?filter=has-orcid:true,from-pub-date:2004-04-04

[2015-12-04 16:56] sckott commented on #85
I see, thanks.  I'd rather keep the use cases clearly differentiated. Where `cr_works()` gets the metadata crossref gives back on works, while `cr_cn()` does content negotiation.

I think if we had `cr_works()` do content negotiation as well it would be less predictable in outputs

right, would only work for `api.crossref.org/works/<doi>`

[2015-12-04 17:27] sckott commented on #85
I think we can try link based requests, but checking minting agency first, and then do the best thing given the agency

[2015-12-04 18:22] sckott commented on #85
@njahn82 Sound good to do a minting agency check first, then proceed with either link based or header passing?

[2015-12-04 18:39] njahn82 commented on #85
Sound good! Would be happy to help with the first attempt.

[2015-12-04 18:52] sckott commented on #85
please do if you have time

[2015-12-09 14:30] njahn82 commented on #85
guess, I close it now?

[2015-12-09 14:30] #85 closed

[2015-12-09 14:34] sckott commented on #85
maybe, but in #87 you said

[2015-12-09 14:37] njahn82 commented on #85
I would rather open a new ticket like "Let `cr_cn` check supported content types for each doi minting agency"

[2015-12-09 14:39] njahn82 opened #88 "Let `cr_cn` check supported content types for each doi minting agency"
Aim is that `cr_cn` only allows content types as argument, which are supported by the respective agency. According to http://www.crosscite.org/cn/ supported content types differ.

I am happy to help.

[2015-12-09 14:50] sckott commented on #85
ok

[2015-12-09 15:05] sckott commented on #88
Thanks, if you have time

[2015-12-10 06:51] sckott opened #89 "items-per-page reflects no. requested"
Not number returned, while `total-results` is those found on server

can't remember if this changes anything, but check if need to make any changes

[2015-12-10 06:52] sckott commented on #89
CrossRef/rest-api-doc#91

[2015-12-15 17:50] sckott opened #90 "Some fields not parsed correctly, e.g, award/name"
[code]

[2015-12-15 18:04] sckott commented on #90
some field names get `NA.` before them, blargh

[2015-12-15 18:37] sckott commented on #90
here's a call that gives problem http://api.crossref.org/works/10.1515/crelle-2013-0024

[2016-01-07 00:27] sckott commented on #88
@njahn82 you plan to do this ?

[2016-01-07 17:33] njahn82 commented on #88
Yes. However, I will start in the next week because I am currently moving. Hope, it is not problem for you.

[2016-01-07 17:36] sckott commented on #88
no rush, it had just been a month, so I thought I'd ask

[2016-01-08 02:29] sckott commented on #77
initial work done, still need to implement in other fxns

[2016-01-11 14:53] sckott opened #91 "Add disclaimer to docs that full text/abstracts aren't searched"
Point to https://github.com/CrossRef/rest-api-doc/issues/101

[2016-01-16 00:53] sckott commented on #89
nothing to do

[2016-01-16 00:53] #89 closed

[2016-01-16 00:54] #91 closed

[2016-01-16 00:55] sckott commented on #77
including in `v0.4` milestone now - don't think it's crucial to make avail in all fxns possible, maybe just works for now

[2016-01-16 06:13] sckott commented on #84
fixed in d6297cb

[2016-01-16 06:14] #84 closed

[2016-01-16 06:15] sckott commented on #90
fixed now in d6297cb

[2016-01-16 06:15] #90 closed

[2016-01-16 17:12] sckott opened #92 "Add a types fxn"

[2016-01-17 02:21] sckott commented on #92
closed in 93466bc

[2016-01-17 02:21] #92 closed

[2016-01-17 02:25] sckott commented on #77
done now

[2016-01-17 02:25] #77 closed

[2016-01-17 08:27] sckott opened #93 "Create low-level pkg API for only making HTTP requests"
That is, no parsing, just get a list back, or maybe json

[2016-01-17 19:50] sckott commented on #93
e.g., get a list back

[code]

or don't parse, and get json back

[code]

[2016-01-19 17:01] sckott commented on #93
need to still add tests for lowl level fxns

[2016-01-19 19:07] sckott commented on #88
closed via #94

[2016-01-19 19:07] #88 closed

[2016-01-19 19:18] sckott commented on #93
done

[2016-01-19 19:18] #93 closed

[2016-01-19 19:44] sckott opened #96 "Fix content types accepted by orgs"
http://www.crosscite.org/cn/

e.g., right now, `cr_cn()` suggests `citeproc-json` not acceptd by Datacite, but looks like it should be,

cc @njahn82

[2016-01-19 20:04] sckott commented on #96
nevermind, `citeproc-json-ish` works with datacite, closing

[2016-01-19 20:04] #96 closed

[2016-01-20 00:18] sckott commented on #7
these features not in API yet:

- Search only author fields
- An exact matches only flag

[2016-01-20 00:19] sckott commented on #61
works fine with crossref, closing

[2016-01-20 00:19] #61 closed

[2016-01-29 00:08] nkorf opened #97 "Error handling on cr_journals with iSSN / Not found message from the api"
Hi,
First of all great thanks for this amazing package.
I am having a problem with the cr_journals function call with an issn argument. I suspect this has to do with the crossref api not returning any details for a particular issn. If you try to run
the function :
`cr_journals("0413-6597")`
will return an error message as follows:

[code]

I suspect it has to do with error handling for a 404 respo

[2016-01-29 00:22] sckott commented on #97
Thanks for the report !  That function and others loop internally so users can pass in many DOIs/ISSNs/etc. - on failure for any one we just throw a warning, but don't stop the function progress - this particular bug we didn't catch appropriately, looking at it now

[2016-01-29 01:12] sckott opened #98 "xml2 used in httr >= v1.1.0, change test expectations"

[2016-01-29 02:59] sckott commented on #97
@nkorf okay, try your eg again after reinstalling `devtools::install_github("ropensci/rcrossref")`

[2016-01-29 16:33] sckott opened #99 "search.labs.crossref.org/dois used by cr_search() down"
Karl says search.crossref.org/dois should work but it gives `Internal server error`

[2016-01-31 01:21] nkorf commented on #97
@sckott Ok it works now. I also used a temporary workaround for the older version to surround the function call with try(). Keep up the great work.

[2016-01-31 01:30] sckott commented on #97
great, glad it works now.

will do, and keep reporting problems

[2016-02-02 18:33] sckott opened #100 "Add user agent string for rcrossref and ver. in requests"

[2016-02-02 22:25] sckott opened #101 "Fail better on invalid parameter inputs"
Right now, warning on failure, but this was intended entirely to allow function progression when one or more input DOIs was invalid. However, when other parameter inputs are wrong, we should fail, e.g., sort, sample, offset, limit, filter, order, facet, cursor, cursor_max

[2016-02-02 22:33] sckott commented on #99
`cr_search_free()` is also down due to http://search.crossref.org/links 505ing

[2016-02-02 23:24] #99 closed

[2016-02-02 23:24] sckott commented on #99
was a false alarm, forgotten that the base url 500's

also, a change in `httr` meant that some queries didn't work anymore, so tweaked internal parsing of query apram

[2016-02-03 00:19] #98 closed

[2016-02-03 05:06] sckott opened #102 "Make cr_search and cr_search_free defunct"

[2016-02-03 05:08] sckott commented on #102
`search.crossref.org/dois` and `search.crossref.org/links` are still online, but I'm pretty sure all functionality can be had with `api.crossref.org`, make sure of this

[2016-02-03 08:51] kjw commented on #99
Will eventually take down the API features at search.crossref.org for good (probably when we merge our search UI codebase with DataCite's fork.) Alternatives:

/links -> POST http://api.crossref.org/reverse where body is a citation

Except it doesn't do batch. One at a time.

/dois?q=test -> http://api.crossref.org/works?query=test

[2016-02-03 14:42] sckott commented on #99
thanks for commenting here

Right, I've marked the functions for the old `search.crossref.org` as deprecated, and will remove those soon.

I didn't know about http://api.crossref.org/reverse - is that documented anywhere?

[2016-02-09 20:59] #100 closed

[2016-02-09 22:24] #97 closed

[2016-02-22 16:50] sckott opened #103 "(from email) cr_ft_links gives NULL"
(paraphrased)

with  `rcrossref::cr_ft_links()` this which works fine:

`cr_ft_links(doi = "10.3897/phytokeys.42.7604", type = "all")`

However, when I try a random paper published in plos one:

`cr_ft_links(doi = "10.1371/journal.pone.0129816", type = "all")`

gives `NULL`

[2016-02-22 18:22] sckott commented on #103
The documentation for that function for __Value__ (what is returned) states

thus, no full text links were given by Crossref for that DOI.

[2016-02-22 18:22] #103 closed

[2016-03-25 02:34] sckott opened #104 "maybe use tibble"
https://cran.rstudio.com/web/packages/tibble/

but need `bind_rows` and other fxn from `dplyr`

[2016-04-26 21:33] SteveViss opened #105 "cr_journals() - details on output"
Hi @sckott,

With @KevCaz, we are wondering:
1. What backfile.dois (chr) and current.dois (chr) mean in `cr_journals()` function output ?
2. Do you have any idea how the score value is computed in the crossref API and what is a good `score` ?

Thanks for your time,
Steve

[2016-04-27 07:27] sckott commented on #105
Hi @SteveViss - thanks for your questions

See this issue https://github.com/CrossRef/rest-api-doc/issues/47#issuecomment-73571019 - basically:

_current records are anything published in the last two years. Back file records have a publication date older than two years ago._

I know it is a relevance score, but not sure how it's computed - I imagine by their Solr engine - @kjw @afandian ?

[2016-05-02 19:28] SteveViss commented on #105
Thanks @sckott. I'm opening a new issue on the rest-api-doc repo to get the answer on the score. You can close this one.

[2016-05-02 19:47] sckott commented on #105
i'll leave open until we get an answer - i may need to update docs here, etc.

[2016-05-02 19:48] SteveViss commented on #105
See this issue for the question 2  [CrossRef/rest-api-doc#116](https://github.com/CrossRef/rest-api-doc/issues/116)
I let you know if I have any update.

[2016-05-05 21:16] sckott opened #106 "use rappdirs for local storage/caching"

[2016-05-21 15:30] finsoc opened #107 "cr_ft_links output NULL, even if a PDF exists and DOI leads directly to it"
Hi! I'm trying a quick test

[code]

However, none of the first 20 results can give me a link:

[code]
links is NULL.
While the DOI in this specific example - http://dx.doi.org/10.1111/j.1468-036x.2010.00603.x - leads to Wiley Online Library.
If I could generate the links to full text, then (given the fact that my institution has subscribes to Wiley, and I can get credentials to pass paywall) I wo

[2016-05-21 15:50] finsoc opened #108 "cr_citation_count gives number of citations in PLoS Journals only?"
Another question. About **cr_citation_count**: does it return the number of times a work is cited in PLoS Journals?
My example:
[code]
When I check JSON Metadata for this paper:
https://api.crossref.org/v1/works/http://dx.doi.org/10.3386/w17454
I don't see any citation information. crossref doesn't have this type of data - so the citation count data is provided by PLoS, right?

Thank you for clari

[2016-05-21 16:37] sckott commented on #108
thanks for your question. The function uses an older Crossref service http://labs.crossref.org/openurl/ - Crossref may include citation counts in their new API (used by most of the `cr_*` functions) but not yet

curious, why did you think it was from PLOS journals?

[2016-05-21 16:46] sckott commented on #107
thanks for your question:

* For your search eg with many DOIs, Wiley doesn't have their content-type's correct, they almost always say `unspecified`, even though they only provide PDF links. So just use `type="all"` to get any links they provide, try:

[code]

I should probably make getting all link types the default instead of `xml` as it is now

* DOI `10.3386/w17454`: that one doesn't have a f

[2016-05-21 17:04] finsoc commented on #108
@sckott thank you for a superfast reply!

Since I didn't find citation number in crossref JSON Metadata, I went to check about the function in the documentation file on CRAN (https://cran.r-project.org/web/packages/rcrossref/rcrossref.pdf) - and there it says (p.6)

So I thought maybe that's PLoS structuring all the citations and making this data accessible...
Ok, now, do I understand this correct

[2016-05-21 17:19] finsoc commented on #107
but if http://dx.doi.org/10.3386/w17454 converts to http://www.nber.org/papers/w17454.pdf in browser, is there a way to do it in R? So that I can get full text URLs even for instances where these links are missing in crossref API metadata.
Thanks again.

[2016-05-21 17:25] sckott commented on #108
Woops! Sorry about that, it shouldn't say for PLOS journals, I'll fix that.

yes

you don't need one

No, that's information publishers don't want to part with, though they are sort of okay with giving away number of citations

[2016-05-21 18:52] sckott commented on #107
Problem is every publisher's URL's are different - hence the importance of the links provided by Crossref.

There is the possibility of a large set of crosswalks where a DOI is given and we try to get a link to the pdf  based on the publisher - will think about this

[2016-05-21 20:36] sckott commented on #108
@finsoc updated the docs, closing now

[2016-05-21 20:36] #108 closed

[2016-05-21 20:37] sckott opened #109 "Possibly make types="all" the default instead of "xml" for cr_ft_links()"
e.g., would esp. helpful with Wiley where they give `unspecified` as the `content-type`

via #107

[2016-05-21 20:43] sckott opened #110 "Crosswalk from DOI owner to URL format for full text"
possibly a set of JSON files that gives rules about how to format URLs to get pdf, xml, etc. for each different publisher.

via #107 and previous chats about this

[2016-05-21 20:44] sckott commented on #110
then could use these crosswalks when Crossref doesn't have a full text link

[2016-05-23 16:14] sckott commented on #110
now on branch -> `crosswalk`

[2016-05-24 21:20] sckott opened #111 "Support field queries"
https://github.com/CrossRef/rest-api-doc/blob/master/rest_api.md#field-queries

https://github.com/CrossRef/rest-api-doc/issues/3
https://github.com/CrossRef/rest-api-doc/issues/107
https://github.com/CrossRef/rest-api-doc/issues/111

[2016-06-02 18:08] sje30 opened #112 "Finding all articles published in a given publisher"
Hi,

I'd like to find out details about all articles published so far on biorxiv (http://biorxiv.org).  in particular, what I'd like to do is something like:

    cr_cn(dois="10.1101/*", format="text")

so I'd like dois to be just the prefix for Biorxiv.  But that doesn't work.  Is there a way to grab all the DOIs issued by that journal?  I couldn't see any examples of searching works just by DOI

[2016-06-02 18:15] sckott commented on #112
yes, there is a way, just a minute

[2016-06-02 18:38] sckott commented on #112
You can get the member id for Cold Spring Harbor Press like

[code]

Can't search on biorxiv at all, but seems that biorxiv preprints are classified as `type = "report"`, rather than article or journal article, so this could work:

[code]

you have to page through results to get all of the results -  max `limit` param is 1000, so just use that param and `offset`

let me know if that gets what you

[2016-06-02 19:39] sje30 commented on #112
Thanks!  This looks great.  I will investigate and report back.

[2016-06-03 16:41] sje30 commented on #112
Thanks again Scott.  I think this works fine, but is rate-limited by crossref:

[code]

In the meantime, I have now found a page on biorxiv that I can quickly screen-scrape; not as elegant, but a lot quicker.  Will write it up.

But thanks again for your rapid help with this, I'm sure I'll be returning to this usage pattern!

[2016-06-03 16:41] #112 closed

[2016-06-03 16:44] sckott commented on #112
@sje30 thanks for the example.

for lots of results, see the `cursor` and `cursor_max` params in many of the `cr_*()` functions. There's examples in the docs for these as well, including for `cr_prefixes`

the associated crossref docs: https://github.com/CrossRef/rest-api-doc/blob/master/rest_api.md#deep-paging-with-cursors

how many are you expecting? i thought biorxiv had only about 4000 dois?

[2016-06-03 16:45] sckott commented on #112
What do you mean by rate limiting? can you show me the error/message you got

[2016-06-03 17:46] sje30 commented on #112
Thanks Scott.

By 'rate limiting' I simply meant slow... the code takes about 20 mins to get all the DOIs (yes, about 4000 unique).  So I assumed there is some slowness implicit in grabbing a lot of data from crossref.

[2016-06-03 17:48] sje30 commented on #112
By contrast:

[code]

gets me the data I need which I can then cut using:

[code]

to get me what I'm after (for now) for a talk.

[2016-06-03 19:29] sckott commented on #112
So the extra call you made to `cr_works` isn't necessary, as the call to `cr_prefixes()` with `works=TRUE` gives the works themselves, so you can get all the data you got from `cr_works`. so

[code]

only takes 70 seconds on my machine

[2016-06-03 19:35] sckott commented on #112
and like i said you can use cursor, e.g.,

[code]

takes 44 seconds on my machine

[2016-06-03 20:13] sje30 commented on #112
woah, neat!  Thank you.  It comes in about 40 seconds on my machine too.  Thank you so much.

[2016-06-07 23:18] sckott opened #113 "rbind_all -> bind_rows"

[2016-06-07 23:56] #113 closed

[2016-06-07 23:56] sckott commented on #104
using dplyr instead

[2016-06-07 23:56] #104 closed

[2016-06-07 23:59] sckott commented on #41
forgot about crossref links, use new setup working on in crosswalk, closing this - remove special elife handling when crosswalk stuff is read

[2016-06-08 20:44] sckott commented on #110
working on this in https://github.com/ropenscilabs/pubpatterns repo - start testing soon here

[2016-08-19 15:50] sckott opened #115 "cr_r fails when sample number > 100"

[2016-08-19 17:08] sckott opened #116 "get abstact fxn helper"

[2016-08-19 17:12] #115 closed

[2016-08-19 17:12] #116 closed

[2016-08-24 03:41] dfalster opened #117 "Errors on doi with special characters"
Great package! I got an error when making the following query, which is possibly to do with the unusual characters, even though [data do exist for this item](http://search.crossref.org/?q=10.1890%2F0012-9615%281999%29069%5B0569%3AEDILSA%5D2.0.CO%3B2):

[code]

I'm documenting this bug for sake of improving the package robustness, not because I need a fix (I'll use a workaround for now).

[2016-08-24 05:37] sckott commented on #117
thanks! will get sorted

[2016-08-24 20:31] #117 closed

[2016-08-24 20:31] sckott commented on #117
@dfalster okay, reinstall and try it again

[2016-09-07 15:44] sckott opened #118 "sample param max now 100"
https://github.com/CrossRef/rest-api-doc/issues/146#issuecomment-245249671

[2016-10-19 14:47] holgerbrandl opened #119 "Allow to do field queries"
It would be awesome if rcrossref would also allow to do field queries. See https://github.com/CrossRef/rest-api-doc/blob/master/rest_api.md#field-queries

[2016-10-19 15:34] sckott opened #120 "new filters: has-clinical-trial-number, has-abstract"

[2016-10-19 16:01] sckott commented on #119
thanks @holgerbrandl

there's already an open issue for this https://github.com/ropensci/rcrossref/issues/111

if okay with you, ill close this one in favor of the previous issue

[2016-10-19 17:02] sckott opened #121 "add async in a dev branch"

[2016-10-19 18:05] holgerbrandl commented on #119
Oh i missed it.sorry for the tracker spam.

[2016-10-19 18:05] #119 closed

[2016-10-19 18:12] sckott commented on #119
no worries, useful to know people are wanting the feature

[2016-10-20 04:49] #120 closed

[2016-10-20 04:52] #118 closed

[2016-10-20 05:47] sckott commented on #106
for `cr_ft_text()` and friends

[2016-10-20 05:47] sckott commented on #106
working on now

[2016-10-21 23:03] sckott opened #122 "break off text mining functionality into new pkg"
started at https://github.com/ropenscilabs/crminer

will defunctify mining fxns here in version after `v0.6` to give people time to switch over

[2016-10-21 23:09] sckott commented on #109
closing, moved to new repo

[2016-10-21 23:09] #109 closed

[2016-10-21 23:11] sckott commented on #107
closing here, moved to new repo

[2016-10-21 23:11] #107 closed

[2016-10-21 23:12] sckott commented on #75
closing, move to new repo

[2016-10-21 23:12] #75 closed

[2016-10-21 23:15] sckott commented on #72
closing, moved to new repo

[2016-10-21 23:15] #72 closed

[2016-10-21 23:16] sckott commented on #67
closing, moved to new repo

[2016-10-21 23:16] #67 closed

[2016-10-21 23:16] sckott commented on #41
closing, moved to new repo

[2016-10-21 23:16] #41 closed

[2016-10-21 23:21] #106 closed

[2016-10-21 23:48] #82 closed

[2016-10-21 23:48] #83 closed

[2016-10-21 23:48] #102 closed

[2016-10-21 23:53] sckott commented on #58
still not avilable, push to next milestone

[2016-10-22 00:39] #111 closed

[2016-10-24 16:32] sckott opened #123 "Change reference of www.omegahat.org to www.omegahat.net"
These contain references to www.omegahat.org, which should be changed to
www.omegahat.net.

in `MairChamberlain2014RJournal.txt`

[2016-10-25 19:44] sckott commented on #121
new rate limit: 10/sec/IP

[2016-10-25 20:55] sckott opened #124 "document new rate limit on all requests"
10 requests per second per IP

[2016-10-25 20:55] sckott commented on #124
gives 429 response

[2016-10-25 20:58] sckott opened #125 "fix tests for throttling"
because of #124

[2016-11-07 19:54] sckott opened #126 "new 10K offset max. for /works"
https://github.com/CrossRef/rest-api-doc/commit/d8030c794669ffb6d9f1fce3eb3ff824cc2afc9c?w=1

[2016-11-08 17:23] #124 closed

[2016-11-08 17:23] #126 closed

[2016-11-08 17:25] #123 closed

[2016-11-08 17:27] #101 closed

[2016-11-08 18:04] sckott commented on #125
so just added a sleep at end of each file for now, messy solution, but good enough for now

ecfea17e9ef7ef180ecb5b913a74c5a78035e71f

[2016-11-08 18:04] #125 closed

[2016-12-15 15:24] sckott opened #127 "check up on missing content-type header"
see https://github.com/CrossRef/rest-api-doc/issues/172

[2017-01-28 21:45] sckott opened #129 "Allow queries to be passed to facet"
e.g., `cr_works(facet = "license:*")` should work, is allowed by the Crossref API, but right now fxn expects logical

[2017-02-14 18:27] globbestael opened #130 "cr_prefixes and prefixes which are not found"
Hi,

When prefixes are not found, no object is  created

[code]

Maybe my poor knowledge of R?

regards

[2017-02-14 18:28] sckott commented on #130
thanks, looks like a bug, i'll have a look

[2017-02-14 20:30] sckott opened #131 "get_styles broken"

[2017-02-14 20:44] #130 closed

[2017-02-14 20:44] sckott commented on #130
@globbestael reinstall `devtools::install_github("ropensci/rcrossref")` and try again, should be fixed

[2017-02-14 20:47] sckott commented on #131
seems fine actually

[2017-02-14 20:47] #131 closed

[2017-02-14 20:48] sckott commented on #127
not fixed yet

[2017-02-14 20:49] #71 closed

[2017-02-15 09:20] globbestael commented on #130
Thanks. Works OK now.

[2017-02-27 22:05] sckott opened #132 "replace httr with crul"

[2017-03-31 03:49] legg0028 commented on #127
Is there a way to work around this? I am getting the error:
`Error in if (x$headers$`content-type` == "text/plain") { : argument is of length zero`

I can't find a way to work around this error and it has really stopped my project from moving forward

[2017-03-31 06:21] sckott commented on #127
@legg0028  Can you show me the code you used that generated that error?

[2017-03-31 07:56] legg0028 commented on #127
`# Get the total number of articles (for a publisher) found
publisher_meta <- cr_works(filter = c(publisher_name = "Springer Nature",
                                      type = "journal-article"),
                     limit = 0,
                     flq = c('query.container-title' = 'Psychology'))

totNumFound <- publisher_meta$meta$total_results
numLimit <- 1000 #How many articles to attempt to

[2017-03-31 15:09] sckott commented on #127
thx, but `title` is undefined - and where does the error occur exactly in the code above. the call to `cr_works` at the top or the call to `cr_works_`

[2017-03-31 23:51] legg0028 commented on #127
@sckott sorry I tried to trim the code for simplicity. The error occurs at the 'cr_works_', within the loop. The thing is, this code can run for hours before the error even occurs. That is, the 'while' loop can iterate many times before actually producing an error. Here is the unamended code, with 'title' defined.

[code]

[2017-04-01 09:54] sckott commented on #127
@legg0028 try again after reinstalling. I wasn't able to reproduce the error - I didn't run the entire thing, as I think I know what was wrong, so pushed a change that should fix it - let me know if you can verify that you don't get error any longer

[2017-04-01 12:03] legg0028 commented on #127
@sckott still testing the code. I have the 'cr_works-' function in a 'tryCatch' function now so I should get all errors that occur. Only 4% done so far but I did get this error:
'simpleWarning: 500: org.apache.solr.client.solrj.impl.HttpSolrClient$RemoteSolrException: Error from server at http://mds4:8983/solr/crmds1: parsing error - (works)'

The updated code I am using is as follows:
[code]

[2017-04-01 12:15] sckott commented on #127
that appears to be a warning, not an error, which means code still proceeds.

[2017-04-03 04:05] legg0028 commented on #127
@sckott The code has been running for 24hours and it looks like the error has not occurred again. Issue should be fixed but I will let you know if anything does go wrong. Thanks for all your help

[2017-04-04 18:16] sckott commented on #127
@legg0028 did it work this time?

[2017-04-06 00:00] legg0028 commented on #127
@sckott I have not gotten an error but R crashes at about 50% (with no error returned). The .csv I am exporting is above 3 million lines long so maybe that has something to do with it. I will continue testing and get back to you.

[2017-04-06 01:17] sckott commented on #127
if that's the case you may want to write (append) to a file as the loop runs so even on fail you don't lose any data

[2017-04-06 01:23] legg0028 commented on #127
@sckott  yea that is exactly what I am doing. Appending to the .csv every 5000 results and saving the cursor value (for deep paging) in a .txt file. That way if it crashes or whatever I just run it again and it picks up from where it left off

[2017-04-07 01:09] legg0028 commented on #127
Looks like the issue is sorted, ran the code through with no issue

Thanks for all your help

[2017-04-07 22:55] sckott opened #133 "http -> https"

[2017-04-08 00:13] #122 closed

[2017-04-08 00:13] #132 closed

[2017-04-08 00:13] #133 closed

[2017-04-08 17:08] sckott opened #134 "cr_funders and cr_journals not outputing facet data"

[2017-04-08 18:51] #129 closed

[2017-04-08 18:51] #134 closed

[2017-04-08 18:52] sckott opened #135 "use markdown docs"

[2017-04-09 02:46] #135 closed

[2017-04-11 01:20] legg0028 opened #136 "Can no longer specify publisher-name as a filter for cr_works?"
[code]
Returns the error:
[code]

This was literally working 5 minutes ago so I am not sure what has changed

[2017-04-11 22:12] a59 opened #137 "cr.works(query_title = title) fails with KeyError: 'content-type'"
[code]

The search for Title 1 works but the search for Title 2 fails with KeyError: 'content-type'

[2017-04-11 22:43] sckott commented on #137
@a59 thanks for the issue, this is the R client however. Please open the issue in the repo for the  python client https://github.com/sckott/habanero

[2017-04-11 22:43] #137 closed

[2017-04-11 23:02] sckott commented on #136
@legg0028 can you share your R session info pleae

[2017-04-13 04:31] legg0028 commented on #136
@sckott  sorry it took a bit to get back to you, I've been trying various solutions (none worked).

Here is the code I run:
[code]

Which produces this error:
`400: Filter publisher-name specified but there is no such filter for this route. Valid filters for this route are: has-assertion, from-print-pub-date, until-deposit-date, from-accepted-date, has-authenticated-orcid, from-created-date, issn,

[2017-04-13 21:36] sckott commented on #136
sorry about that - opened an issue in their api https://github.com/CrossRef/rest-api-doc/issues/198

`publisher-name` should be available but isn't for some reason - I'd try `issn` if it’s a journal, or `member` if a crossref member/publisher

[2017-04-26 03:16] #127 closed

[2017-04-26 03:17] sckott commented on #110
ftdoi API rolled out, not super stable yet - use that eventually

[2017-04-26 03:17] #110 closed

[2017-04-26 03:18] sckott commented on #7
this is i think handled in field queries like `query.author`

[2017-04-26 03:18] #7 closed

[2017-04-26 03:19] sckott commented on #69
examples now in `cr_works`,for faceting on licenses at least

[2017-04-26 03:19] #69 closed

[2017-04-26 03:39] #105 closed

[2017-04-28 12:44] jackva opened #138 "Relationship web search - API - rcrossref"
Hi,

I am not strictly sure this is a bug or just a difference between web and API (or my lack of knowledge):

E.g. when I enter on the web interface this gives meaningful results on finding references that discuss emissions trading and Paris Agreement:
+"emission trading" +'Paris Agreement'

I have tried reproducing this search in rcrossref (with cr_works) but without success (e.g. " "+\"emission

[2017-04-28 14:44] sckott commented on #138
Thanks for opening the issue @jackva  - to be clear are you talking about the search in the box here https://www.crossref.org/

[2017-04-28 15:01] jackva commented on #138
Yes, indeed! Thank you for the prompt reply!

[2017-04-28 16:28] sckott commented on #138
@kjw any thoughts on this?  Does search on the crossref website use the API?  browser devtools doesn't show any crossref API URLs, but doesn't mean it isn't used under the hood.

[2017-05-02 16:15] sckott opened #139 "filters update - `publisher-name` filter removed"
https://github.com/CrossRef/rest-api-doc/issues/198#issuecomment-297257437

[2017-05-17 00:03] cboettig opened #140 "support for other content types"
Would love to get DataCite data in JSON-LD, http://citation.crosscite.org/docs.html, `application/vnd.schemaorg.ld+json`.  looks like `cr_cn` just fails on this call.  Maybe the function could be configured to try the user-specified call even if it doesn't match the pre-specified list?

Side issue: a bit confusing that we have rcrossref and rdatacite, but that rcrossref can do datacite content neg

[2017-05-17 00:20] sckott commented on #140
Sounds reasonable. I guess yeah, we could just pass on the user supplied value, like the one you have above.

are you thinking documentation to make it more clear, or something else?

[2017-05-18 22:44] sckott commented on #140
@cboettig thoughts on the changes  https://github.com/ropensci/rcrossref/commit/ba8b8f9baefd884d8a6d5c8a702fa3614e71f4c3?w=1

[code]

[2017-05-18 23:25] cboettig commented on #140
LGTM

[2017-05-18 23:27] sckott commented on #140
we could pull in `jsonld` as a Suggest, or do we not need to do that,

i'll probably fiddle around more with it, last commit was a first take

[2017-05-18 23:40] cboettig commented on #140
I wouldn't bother suggesting `jsonld` unless you have some coded examples that use it (it requires v8 libs so it's bit extra burden on your dev tool chain to suggest it; e.g. also means making sure .travis apt-gets the v8 libs).  Most of the time users can just parse jsonld as pure json; particularly when it's all coming from the same context (e.g. this case is all schema.org).  The ld functions a

[2017-08-10 15:47] arw36 commented on #138
We have had the same issue, with using the "+" in the main crossref search allows for Boolean search "AND", but when using for cr_works function it doesn't work instead doing the standard "OR" search. For example via search (http://search.crossref.org/)
Dominican  Republic = 119013 results
+Dominican +Republic = 2,758 results

In R using rcrossref,
[code]
dr_search$meta$total_results = 119013

Let

[2017-08-10 19:32] sckott commented on #138
thanks @arw36 - sorry about the delay @jackva , didn't hear from crossref, so forgot about this.

yes, @arw36 i can replicate what you get.

so search.crossref.org may not use the same API `rcrossref` uses. which can lead to different results. @kjw @gbilder - What is used under the hood at search.crossref.org ?  Is the search API used directly, or some modification of it?

[2017-08-10 19:57] kjw commented on #138
So currently search.crossref.org doesn't use the API and is probably searching on a different set of default fields. Not sure if this is good or bad, but at some point we intend to rewrite the search site to use the API. If one of the results from either search.crossref.org or the API is preferred, please let me know, I'd like to understand what results people want to see.

[2017-08-10 20:24] sckott commented on #138
thanks @kjw  - do i have this right: search.crossref.org allows amore complicated set of queries (possibly dismax ?) while api.crossref.org allows simple queries (no dismax)

[2017-09-08 14:17] sckott opened #141 "new filter: full-text.application"
https://github.com/CrossRef/rest-api-doc#documentation-history

[2017-09-12 16:31] sckott opened #142 "add additional sorting options"
https://github.com/CrossRef/rest-api-doc#sorting

[2017-09-12 16:34] sckott opened #143 "add additional field query options"
https://github.com/CrossRef/rest-api-doc#works-field-queries

[2017-10-21 04:28] sckott opened #146 "Add select parameter"

[2017-11-16 17:22] sckott opened #147 "`cr_cn`: behave better when bibentry not valid"
via https://twitter.com/SVissault/status/931183793909780481

probably catch warning on invalid bibentry, but still return the object (and print warning)

[2017-11-16 17:40] sckott commented on #147
hmm, `tryCatch` isn't really working - maybe because the `read.bib` fxn internally is using tryCatch? https://github.com/romainfrancois/bibtex/blob/master/R/bibtex.R#L258-L268

looks like `do_read_bib` would work, but not sure if that's meant for same purpose, though it is exported. e.g.,

[tmpscratch.txt](https://github.com/ropensci/rcrossref/files/1479583/tmpscratch.txt)

[code]

cc @SteveViss

[2017-11-23 00:13] sckott commented on #147
@SteveViss do you think that solution is a good one above?

[2017-11-23 14:33] SteveViss commented on #147
@sckott, this is a solution. `do_read_bib` is more permissive and allows to read unvalid entries. Thanks !

[2017-11-25 00:54] sckott commented on #147
thanks @SteveViss will make change and see how it works

[2017-11-26 04:57] beausoleilmo commented on #147
The question is more how to make a bib format for `rcrossref::cr_cn("10.1038/46731",format="bibentry")`. Or maybe I don't understand what you mean. it seems you resolved this by doing `rcrossref::cr_cn("10.1038/46731",format="bibtex")` and running `bibtex::do_read_bib("tmpscratch.txt", srcfile = srcfile("tmpscratch.txt"))`. Right?

[2017-11-28 19:14] sckott commented on #147
the problem is that if you request `format="bibentry"` you can sometimes get malformed bib data and then the `bibtex` package fails to parse it, so we're trying to get around that

[2017-12-02 00:02] #146 closed

[2017-12-02 18:48] sckott commented on #138
i think the question here is mostly answered, closing

[2017-12-02 18:48] #138 closed

[2017-12-02 18:53] sckott commented on #136
@legg0028 Seems this still doesn't work. Seems it has been removed, as not in their API docs anymore. Will remove it from our docs as well.

[2017-12-02 20:11] #136 closed

[2017-12-03 16:55] #139 closed

[2017-12-03 16:55] #141 closed

[2017-12-03 17:06] #142 closed

[2017-12-03 17:06] #143 closed

[2017-12-17 11:26] cholyavkin opened #148 "Add New Entry with PMID"
Is it possible to add new citation entry by using only PMID or PMCID? Some of older articles ([example](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC387126/?page=2)) do not have a doi number. Unfortunately, the rcrossref add-in only accepts doi numbers.

How can I add the new entry to my crossref.bib with PMID?

[2017-12-18 21:25] sckott commented on #148
thanks for the issue @cholyavkin

There was a web service to convert between PMID and DOIs , but it no longer works.

can look into it, but i think this pkg focuses on Crossref, so probably wouldn't introduce Pubmed tools since other R pkgs handle Entrez/Pubmed data, but will look

[2017-12-19 12:50] cholyavkin commented on #148
Thank you for your interest @sckott .

I just noticed that Crossref can find the doi numbers, even the original journal page doesn't have any. I know that it is not easy but you may consider adding "**Search by Title**" feature to the add-in in next updates.

![ekran resmi 2017-12-19 15 44 25](https://user-images.githubusercontent.com/28393339/34157771-027c57b4-e4d4-11e7-9645-355cedbe0d68.png)

[2017-12-19 18:49] sckott commented on #148
thanks @cholyavkin

@haozhu233  thoughts on the above?

[2018-01-18 20:50] #147 closed

[2018-01-18 20:53] sckott commented on #147
sorry for long wait on this @SteveViss @beausoleilmo

can you reinstall  `devtools::install_github("ropensci/rcrossref")` and try bibtex egs again

[2018-02-10 03:17] gorkang opened #149 "query.affiliation not working in cr_works()"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

---
I am trying to send a query including Title and Affiliation:
[code]

But I get the following error:

Thanks for the great work!
 

[2018-02-11 06:36] sckott commented on #148
@haozhu233 any thoughts?

[2018-02-11 06:53] sckott commented on #149
thanks @gorkang

i had updated the documentation for affiliation and another field query, but didn't add them to the internal fxn that checked field query names. should be fixed now.

Please try again after reinstalling like `devtools::install_github("ropensci/rcrossref")`

[2018-02-11 13:26] gorkang commented on #149
Works great now, thanks!

[2018-02-11 13:26] #149 closed

[2018-02-16 22:17] haozhu233 commented on #148
@sckott @cholyavkin just want to give you an update. I'm adding a general search panel to the addin using the `cr_works` function. Right now I still need some extra time to get everything in place.

[2018-02-21 18:53] dhicks opened #150 "Error handling in `cr_journals` with `works = TRUE`"
Using `cr_journals` with `works = TRUE` raises an error (not just a warning) when the ISSN isn't found.  This breaks workflows involving multiple ISSNs.

[code]

[2018-02-21 20:24] sckott commented on #150
thanks @dhicks ill have a look and get back to you

[2018-02-21 22:41] sckott commented on #150
I think I've fixed it. Please try again after reinstalling like `devtools::install_github("ropensci/rcrossref")`. let me know if it works now.

[2018-02-22 00:46] dhicks opened #151 "cr_journal() fails with multiple ISSNs when works = FALSE"
This example is from the documentation for `cr_journal`.

[code]

[2018-02-22 20:30] sckott commented on #151
sorry about that, will fix asap

[2018-02-22 20:57] sckott commented on #148
@cholyavkin can you reinstall `remotes::install_github("ropensci/rcrossref")` and try the new version of the addin again?

[2018-02-26 10:26] cholyavkin commented on #148
**OMG!**  It's so beautiful and works like a charm. Thank you @haozhu233 and @sckott.

![sc](https://user-images.githubusercontent.com/28393339/36665384-76481502-1af8-11e8-89a8-e2907031b5d4.png)

[2018-02-26 10:26] #148 closed

[2018-03-01 20:17] sckott opened #154 "Facet outputs: document col names like "V1" and/or rename those to "count" if doable"

[2018-03-09 19:47] sckott commented on #121
@pkraker install like `remotes::install_github("ropensci/rcrossref@async")`

try

[code]

[2018-03-12 16:41] pkraker commented on #121
Thanks! Unfortunately, I get the following error:

[code]

[2018-03-12 17:15] sckott commented on #121
@pkraker okay, try again, instructions updated above (i.e., recycle page)

[2018-03-12 18:01] pkraker commented on #121
Thanks, works great now. In my case, it was 3-times faster (train wifi though, which does not provide the most reliable test setup ;)):

[code]

[code]

Also pinging @chreman

[2018-03-13 16:17] chreman commented on #121
I can contribute a certainly reliable test setup via mobile phone roaming hotspot ;) with an observed speedup of ~2.5

[2018-03-15 21:16] damianooldoni opened #155 "Buffer issues while attempting to use cr_journals()"
I would like to use function `cr_journals()` on a vector containing a lot of issn codes (~1500) to retrieve journal titles.
First, I tried to do it by calling `cr_journals()` on the entire vector:
[code]
It failed with the following error message:

  schannel: next InitializeSecurityContext failed: SEC_E_MESSAGE_ALTERED (0x8009030F) - Het bericht of de handtekening die zijn opgegeven voor controle

[2018-03-16 01:22] sckott commented on #155
thanks for the issue @damianooldoni

Are you using your email address to get in to the fast lane? https://github.com/ropensci/rcrossref/blob/master/R/rcrossref-package.R#L70-L88 https://github.com/CrossRef/rest-api-doc#etiquette

[2018-03-16 01:38] sckott opened #156 "`cr_journals`: is not handling when >1 ISSN and works=FALSE"

[2018-03-16 04:16] sckott commented on #155
I tried with

[code]

didn't raise any problems. its possible using an email address if you're not will help, but the error seems more like a curl problem, and not with crossref rate limiting you.

does it work with a small number of issn's?

can you pass `verbose = TRUE` in the call to see if there's some useful info in the response headers

[2018-03-16 04:17] #156 closed

[2018-03-19 11:31] ataiprojects opened #157 "where is the next-cursor outputted?"
I expected it to be in res$meta, but it's not there. I think it would be helpful to include more details on this in the documentation. Thank you!

[2018-03-19 16:28] sckott commented on #157
can you please give more details. what is your `sessionInfo()`, and what function(s) are you talking about

[2018-03-19 20:39] damianooldoni commented on #155
Thanks @sckott,
I am now using e-mail address, sorry to not doing it since the begining. However, the problem is not solved.
By running your example, I get still the error:
 `SEC_E_MESSAGE_ALTERED (0x8009030F): The message or signature supplied for verification has been altered`
or, alternatively:
`SEC_E_BUFFER_TOO_SMALL (0x80090321): The buffers supplied to a function was too small`.

Sometimes I

[2018-03-20 13:09] ataiprojects commented on #157
Sorry, I've thought next-cursor is only ever used with deep paging, so it won't be ambiguous. Details:
`res1 = cr_works(query="ecology")`

  total_results search_terms start_index items_per_page
1        320673      ecology           0             20
This tells me there are 320+ thousand works on ecology. Let's say I would like to gather metadata on the first 12 thousand of those and analyse it.
`

[2018-03-23 13:37] sckott commented on #121
@chreman pushed change e2272eecf4ee28039efd312a6b7cd46b76e8875f - stop message now because no benefit to doing async when only 1 thing

[2018-03-23 15:13] rossmounce opened #158 "Which CR member IDs do not open-up their references?"
Is there a way I can use `rcrossref` to give me a query returning all CR member IDs that do not have opened citations  ( https://i4oc.org/ ).

e.g. for

[code]

which output flag tells about the status of the citations? I realise this is a CrossRef issue not an rcrossref issue per se, but I assume this might well be of topical interest to some people(?).

[2018-03-23 15:17] rossmounce commented on #158
Looks like I need to find the `has-public-references` flag with values either `true` or `false` somehow, via `rcrossref` https://github.com/CrossRef/rest-api-doc/issues/209

[2018-03-24 21:04] sckott commented on #158
hi @rossmounce

seems ideal if you could facet on `has-public-references`, but not avail. on non works routes.

there is

[code]

and

[code]

and you'd have to paginate through each of those to get all results, then you'll have set of members that do and don't have public references.

[2018-03-26 16:55] sckott opened #159 "Test async and think about auto-throttling"

[2018-03-26 17:03] sckott opened #160 "Do async for `cr_citation_count()`"

[2018-03-29 21:55] sckott commented on #157
The `next-cursor` is only returned from the crossref api if you use the cursor parameter. So as you showed above with `cursor = "*"` that uses deep paging through cursors. We do the paging then automatically, so you don't need to do it yourself.

here's an example to get the first 12K

[code]

- the max you can set `limit` to is 1000 - so above then we do 12 requests, of 1000 each
- The timeout er

[2018-03-29 22:04] #150 closed

[2018-03-29 22:59] #151 closed

[2018-04-03 21:33] sckott commented on #160
@pkraker @chreman install like `remotes::install_github("ropensci/rcrossref@async")` - added async to citation count function.

[code]

[2018-04-03 21:44] sckott commented on #160
Note that `doi` parameter now accepts >1 DOI
And note that the output is now a data.frame, not a single numeric value

[2018-04-04 10:28] ataiprojects commented on #157
Thanks! I'll continue testing later, and if there are timeout errors as you say, I'll post another issue.

[2018-04-04 10:28] #157 closed

[2018-04-08 12:39] ms609 opened #161 ""filter" parameter documentation out of date"
The documentation for the `filter` parameter in `cr_works` and elsewhere (`cr_journals`, `cr_members`, `cr_prefixes`, `cr_funders`, and others) states "Filter options. See details.", yet the details of this function do not specify how this parameter is to be used.

`cr_licenses` hints that

Has the filters parameter also been removed from the other functions? (In this case the examples may also ne

[2018-04-08 18:24] #161 closed

[2018-04-08 18:25] sckott commented on #161
thanks for the report @ms609

you're right that the docs are not great on filters.

updated the docs, reinstall and see `?cr_works` help page, there's many usage examples in `cr_works` and there's some helper functions in `?filters` for getting filter names and more details on them

[2018-04-09 08:07] ms609 commented on #161
Great, thank you!

[2018-04-16 18:00] sckott opened #163 "Maybe stop/warn with API route in addition to the message."
via #162

so e.g.,

[code]

becomes

[code]

[2018-04-16 18:40] ms609 commented on #163
Including part of the API URL would definitely be a helpful addition.  Is it even possible to include the full URL (with the API key obfuscated, I suppose)?  This'd make debugging a little easier.
Could the warning also mention more explicitly that the CrossRef API is the source of the error (rather than malformed R input)?
I didn't understand the term "route" either -- though it looks like this t

[2018-04-16 21:13] sckott commented on #163
rather than print out the entire URL on each request (I try to not clutter the users console if possible), the best thing to do for debugging purposes is to use curl options. Those are passed on to internal HTTP functions via `...`. the most important being `verbose = TRUE` (try it to see what happens). That is, if a user encounters an error, then they can rerun the same thing with `verbose = TRUE

[2018-04-17 08:40] ms609 commented on #163
These are some very helpful suggestions, thank you!

[2018-04-24 13:27] #160 closed

[2018-05-16 13:41] chreman opened #164 "Error in doc_parse_raw"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

In some cases, there appears to be an unexpected response from crossref - manual check looks like either a bad DOI or bad response.

[code]

[2018-05-16 22:10] chreman commented on #164
ah yes sorry, example:
[code]

[2018-05-18 00:53] sckott commented on #164
hmm, not a valid DOI https://doi.org/10.1155_2014/154376.full.pdf

reinstall from async branch and try again now - throwing warning and NA on invalid DOIs so that it doesn't interrupt

[2018-05-18 00:53] #164 closed

[2018-05-25 12:42] patrickda opened #165 "field query for affiliation is not working in cr_works"
<details> <summary><strong>Session Info</strong></summary>

R version 3.4.3 (2017-11-30)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS High Sierra 10.13.4

Matrix products: default
BLAS: /System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/libBLAS.dylib
LAPACK: /Library/Frameworks/R.framework/Versions/3.4/Resources/lib/libRlapack.dyl

[2018-05-25 19:30] sckott commented on #165
thanks @patrickda for the issue.

that field query was added in dev version recently https://github.com/ropensci/rcrossref/compare/v0.8.0...d78684add17c86cccd403b25d3fb38c3afe9f821#diff-e549505eb95036528ca3b125f62915a6

you can install from github to get it `remotes::install_github("ropensci/rcrossref")` -

we should be sending a new ver to cran soon

[2018-05-28 08:04] patrickda commented on #165
Hi @sckott
I installed the version from github but it still producing the same error message.

[2018-05-28 09:26] patrickda commented on #165
Installed it with the devtools now it is working.

[2018-05-28 09:26] #165 closed

[2018-06-05 19:34] PhoebeFossil opened #166 "Query by category?"
Is there a way to query by category? Doesn't seem to be in "Acceptable set of field query parameters" but is searchable on the Cross Ref web interface. I.e., I want to be able to do

`
cr_types("journal-article", works = TRUE,  select = c('author', 'title'), flq = c(`query.category` = 'Geology'), cursor_max=1000, cursor="*")`

Thanks
Phoebe

[2018-06-07 01:43] sckott commented on #166
thanks for your question @PhoebeFossil

i don't believe that's allowed in the API that we use here.

you can do a filter on `category-name` like https://api.crossref.org/types/journal-article/works?filter=category-name:Geology

in rcrossref it's `rcrossref::cr_types("journal-article", works = TRUE, filter = c(category_name = "Geology"))`

[2018-06-07 12:44] PhoebeFossil commented on #166
Awesome, thank you! Will try this out.

[2018-06-07 12:44] #166 closed

[2018-07-01 07:30] njbart opened #167 "shortDOIs do not resolve"
It seems rcrossref is not able to resolve shortDOIs (see http://shortdoi.org/ and https://www.doi.org/resources.html), as judged from this example, using a DOI and its corresponding shortDOI:

[code]

`10/cvm544` does resolve as expected at `https://doi.org/10/cvm544`.

[2018-07-01 15:28] sckott commented on #167
we're using the crossref api which as far as I know deals only with full DOIs - have you had luck with short dois with crossref in another context?

[2018-07-01 20:34] njbart commented on #167
Well, it seems crossref.org actually invented shortDOIs themselves (see https://www.crossref.org/labs/toi-doi-i-e-short-dois/), and they do list them on https://search.crossref.org/help/search.

Also, using my example shortDOI, https://search.crossref.org/?q=10%2Fcvm544 does return the corresponding long DOI. (Not sure though why it does not provide the article metadata in one step as it does in t

[2018-08-03 19:53] sckott opened #168 "allow use of a different base url for content negotation"
work on branch `cr-cn-baseurl`

[2018-08-04 00:29] #168 closed

[2018-08-04 03:30] sckott commented on #163
hugh, not sure why this http://api.crossref.org/works?cursor=5 is giving/:

[code]

[2018-08-05 15:59] #163 closed

[2018-08-05 16:00] sckott commented on #155
@damianooldoni any thoughts on this?

[2018-08-06 12:52] patrickda opened #170 "rcrossref returns just one license for a work"
works can have more than one license e.g.
http://api.crossref.org/v1/works/10.1016/j.molp.2016.08.010
rcrossref only returns the first one when using

cr_works(dois ="10.1016/j.molp.2016.08.010")

<details> <summary><strong>Session Info</strong></summary>
Session info ---------------------------------------------------------------------------------------------------------
 setting  value
 version

[2018-08-06 17:16] sckott commented on #170
thanks for the report @patrickda - having a look at this

[2018-08-06 17:28] #170 closed

[2018-08-06 17:28] sckott commented on #170
should be fixed. try again after reinstalling

[2018-08-06 20:00] patrickda commented on #170
Not it is a list with the Creative Commons license but the other one is mssing

[2018-08-06 20:01] sckott commented on #170
@patrickda not sure i understand your last comment?

[2018-08-07 09:39] patrickda commented on #170
@sckott

doi = "10.1016/j.molp.2016.08.010"
CrossRef.data = cr_works(dois = doi) %>% .$data
pub.licence= CrossRef.data$license

pub.license ist a "List of 1" but it should be a "List of 2"
Shouldn't it?

[2018-08-07 12:56] patrickda commented on #170
Sorry I overlooked that in the list is a tibble with the two licenses (still struggling a bit with nesting but I get better) ;-)

[2018-08-10 05:33] damianooldoni commented on #155
No, @sckott, I 'm sorry. Actually the library didn't need this kind of information. So, I had to change my plans very soon. And no free time available for this. I am sorry.

[2018-08-10 17:42] sckott commented on #155
thanks @damianooldoni

[2018-08-10 17:43] sckott commented on #155
@jeroen have you seen these https://github.com/ropensci/rcrossref/issues/155#issue-305722632 types of errors ever (SEC_E_MESSAGE_ALTERED and SEC_E_BUFFER_TOO_SMALL)? i'm not sure what they mean

[2018-08-10 17:55] jeroen commented on #155
No i've not seen this before. It looks like a bug in libcurl. @damianooldoni are you using the latest version of the curl package?

[2018-08-13 17:38] sckott commented on #155
any thoughts @damianooldoni on jeroen's comment above ?

[2018-08-28 10:57] nicholasmfraser commented on #155
I am receiving exactly the same error messages as @damianooldoni (SEC_E_MESSAGE_ALTERED and SEC_E_BUFFER_TOO_SMALL) when using function `cr_works()` to loop through a vector of ~1000 DOIs. As with @damianooldoni it is inconsistent, it sometimes fails on the first few requests, sometimes after 100+ requests.

I am on Windows 7, using latest curl package for R (3.2), and am using my email address to

[2018-08-28 11:17] jeroen commented on #155
This must be a bug in libcurl. Does this always happen for this specific host? @jay does this error sound familiar?

[2018-08-28 11:39] bagder commented on #155
Never seen it before.

`SEC_E_MESSAGE_ALTERED` is wonderfully undocumented and hard to find described by Microsoft. I suppose a reason to try using another TLS backend to see if the problem persists then too.

The very name of this error does however not sound like its a libcurl error to me, its sounds like a problem with the server. But that's just a wild guess..

[2018-08-28 13:38] nicholasmfraser commented on #155
I just looped through the same dataset several times using the `GET` method of the httr package to query the crossref API directly, and did not encounter the same issue. I haven't had this issue querying any other APIs before either. I'll try to recreate it on another machine later to see if this is specific to my current machine.

[2018-08-28 14:02] jeroen commented on #155
It's definitely a Windows issue because it happens in the schannel back-end.

[2018-08-28 21:16] sckott commented on #155
both `crul` and `httr` R packages use  jeroen's `curl` pkg under the hood, so I am guessing it shouldn't matter which of `crul` and `httr` we use. at least I hope.

[2018-08-29 04:37] jay commented on #155
I only know of [one curl bug report](https://curl.haxx.se/mail/lib-2016-12/0088.html) of SEC_E_MESSAGE_ALTERED. I think it's interesting that both reporters have a failure with exactly 7 bytes received. Can you wireshark it?

Also steffengy/schannel-rs#8 may be related.

[2018-09-11 10:59] Pakillo opened #172 "Always getting warning 'agency not found' when running cr_cn?"
Hi,

After last changes to `rcrossref` I seem to be getting a warning that 'agency not found' every time I run `cr_cn`. Reprex below:

[code]

Created on 2018-09-11 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).
<details><summary>Session info</summary>

[code]

</details>

[2018-09-13 16:13] poldham opened #173 "adding user agent to enter the polite pool"
Hi Scott and collaborators,

I have a question regarding how to add the user agent in the headers to a request. We have a team in India who are attempting to run a large query (for publications on India) that should pull back around 285,000 results. However, this is timing out and reading the documentation on the problem with degradation on the public API it may be because a user agent is not bein

[2018-09-13 17:56] sckott commented on #173
thanks for your question @poldham

i assume this is being used in a shiny app?  can you share the session info for the server it's running on?

[2018-09-13 18:40] poldham commented on #173
Thanks @sckott
At the moment not aiming for shiny. Simply trying to pull the data back into a df as part of building an open literature repo. We would though want to pull in smaller update chunks at a later stage.

The session info is

R version 3.5.1 (2018-07-02)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS Sierra 10.12.6

Matrix products: default
BLAS: /System/Library/Framew

[2018-09-13 18:54] sckott commented on #173
Its possible that this is a polite pool issue, can you have them do `cr_works(limit = 1, verbose = TRUE)` to see if their email is being used to direct them into polite pool  - the HTTP headers will be printed to the console and should look like:

[code]

However, it may be that they aren't using the cursor for lots of results. Are they using the `cursor` argument?  That is used when the user want

[2018-09-13 19:08] poldham commented on #173
Many thanks @sckott I have a call with the India team in the morning so will check then. But, running that on my machine I get:

GET /works?rows=1 HTTP/1.1
Host: api.crossref.org
Accept-Encoding: gzip, deflate
Accept: application/json, text/xml, application/xml, */*
User-Agent: r-curl/3.2 crul/0.6.0 rOpenSci(rcrossref/0.8.4)
X-USER-AGENT: r-curl/3.2 crul/0.6.0 rOpenSci(rcrossref/0.8.4)

So the mai

[2018-09-13 19:11] sckott commented on #173
i think you can see the docs in `?rcrossref-package`

[2018-09-13 19:47] #173 closed

[2018-09-13 21:01] sckott commented on #173
Glad its sorted out. We should link to the docs on polite pool from the fxns, will add that

[2018-09-13 22:32] zackbatist opened #174 "Error handling with cr_abstract"
Hi there,
I'm trying to obtain the abstracts for more than one DOI using a for loop, but the loop seems to get hung up on the error message that appears if there is no abstract available:
```Error : no abstract found for 10.11141/IA.44.15```
It also gets hung up on another error when there is no DOI value in the input column.

I've tried the `try` wrapper to no avail. I would appreciate any sugges

[2018-09-13 23:15] sckott commented on #172
thanks @Pakillo !

I'm not getting those warnings. Can you replicate that this is still happening?  if so, can you run

[code]

and see if you get back  (the verbose is to print http response headers to see if there's any info in there that might help diagnose)

[code]

[2018-09-14 16:59] sckott commented on #174
thanks for your question @zackbatist - can you please share the output of `sessionInfo()`

can you share this code and error

[2018-09-14 17:54] zackbatist commented on #174
Here are the tracebacks for each error, which were produced by changing the range of rows to be included in the for loop. The first row has a DOI that does not have an abstract associated with it, and the second row does not have a DOI at all.

When there is no abstract available pertaining to the DOI provided:
[code]

When there is no doi provided:
[code]

Using RStudo Version 1.1.453
[code]

[2018-09-14 22:39] sckott commented on #167
@njbart  still no response on this

[2018-09-19 00:35] sckott commented on #174
I added an example of handling errors with `cr_abstract`  https://github.com/ropensci/rcrossref/blob/master/R/cr_abstract.R#L20-L22 - same can be done in a for loop

[2018-09-19 18:20] zackbatist commented on #174
Thank you @sckott! It works great!

[2018-09-19 18:21] sckott commented on #174
great, glad it works

[2018-09-19 18:21] #174 closed

[2018-09-20 16:53] sckott commented on #167
thanks @gbilder !

[2018-09-20 16:55] sckott commented on #167
@njbart see the comment above. So i'd get the full DOI first, then proceed with any data retrieval.

[2018-09-20 16:55] #167 closed

[2018-10-03 18:43] sckott opened #176 "references: new filter refernce visibilty and make sure refs are given back in cr_works"

[2018-10-03 18:49] sckott opened #177 "filters, a few more to add"

[2018-10-03 18:59] #176 closed

[2018-10-03 18:59] #177 closed

[2018-12-07 21:04] sckott commented on #172
closing, no response

[2018-12-07 21:04] #172 closed

[2018-12-07 21:04] sckott opened #178 "vcr"

[2018-12-08 16:38] #178 closed

[2018-12-11 08:14] nicholasmfraser commented on #155
I came back to this task recently and encountered the same issue again. I took a look at the issue of https://github.com/steffengy/schannel-rs/issues/8 referenced above and removed `TLS_DHE_RSA_WITH_AES_128_GCM_SHA256` and `TLS_DHE_RSA_WITH_AES_256_GCM_SHA384` from the schannel SSL cipher suites order. The bug appears to have now disappeared. I do not know why this caused an issue, but just in cas

[2018-12-11 18:35] sckott commented on #155
thanks @nicholasmfraser for the follow up

this is on your machine?

[2018-12-11 20:00] nicholasmfraser commented on #155
Yes, on my local machine (Windows 7). It must be something specific to my machine, I couldn't reproduce it on another machine that also had Windows 7.

[2018-12-12 19:18] sckott commented on #155
Okay, thanks. Where did you find instructions on how to remove those?

[2018-12-12 22:48] nicholasmfraser commented on #155
I used the information available here, following the same process to add cipher suites at the bottom of the page (I had to restart my computer before the changes took effect): https://docs.microsoft.com/en-us/windows/desktop/secauthn/tls-cipher-suites-in-windows-7

[2018-12-12 22:51] sckott commented on #155
ah, thanks very much @nicholasmfraser

[2019-01-03 09:14] nicholasmfraser opened #180 "cr_works returning error when querying some DOIs"
I've encountered instances of the cr_works route failing on a very small number of DOIs, for example:

[code]

returns

[code]

I think the problem lies in the `parse_todf` function in [cr_works.R](https://github.com/ropensci/rcrossref/blob/master/R/cr_works.R). When Crossref returns an empty list (in the case of the DOI record referenced above, under funder[1], see [API response](http://api.cross

[2019-01-03 23:03] sckott commented on #180
thanks for the report @nicholasmfraser

i can replicate the issue. ill see about that change

[2019-01-07 22:32] sckott opened #181 "return work fields: published-print and published-online"

[2019-01-07 22:33] #181 closed

[2019-01-09 19:03] #180 closed

[2019-01-09 19:03] sckott commented on #180
@nicholasmfraser reinstall and try again, shoud be fixed now

[2019-01-09 19:07] #140 closed

[2019-01-09 21:50] sckott commented on #121
note to self, only implemented for `cr_works` and `cr_works_`

[2019-01-09 21:59] #121 closed

[2019-01-30 14:18] martinjhnhadley opened #183 "id_converter returns live == false irronously"
There are many instances where `id_converter` fails to convert PMIDs to DOI. In all instances I've found so far, `id_converter(paper_doi, "doi")` will result in `id_converter(paper_doi, "doi")$records$live == "false"`

Here's a minimal example

[code]

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2019-01-30 20:47] sckott commented on #183
thanks for this @martinjhnhadley  having a look

[2019-01-30 21:54] sckott commented on #183
Do you have more egs that give the same error or different?

That particular DOI was failing to resolve if you did https://doi.org/10.1111/tmi.13009, but then later I tried again and now it resolves to https://onlinelibrary.wiley.com/doi/full/10.1111/tmi.13009

BUT for some reason the converter service still gives the same result you got.

the docs page https://www.ncbi.nlm.nih.gov/pmc/tools/id-co

[2019-01-31 14:45] martinjhnhadley commented on #183
Hi @sckott! Here are some more PMIDs that fail to convert... and my current flimsy way of filtering them out.

[code]

[2019-02-01 03:21] sckott commented on #183
Been poking around many data sources, and the only thing that makes sense is that some PMIDs are just not available yet in any machine readable state.

e.g. one of the PMIDs for this https://www.ncbi.nlm.nih.gov/pubmed/30446726  has

<img width="798" alt="screen shot 2019-01-31 at 4 57 22 pm" src="https://user-images.githubusercontent.com/577668/52095804-4fb45680-2579-11e9-93d2-6d1cd4621468.png">

[2019-02-02 08:57] martinjhnhadley commented on #183
That’s interesting, I’ll take a look into it!

On Sat, 2 Feb 2019 at 01:27, Scott Chamberlain <notifications@github.com>
wrote:

[2019-03-06 14:55] HeidiSeibold opened #185 "cacheing possible for cr_cn?"
I am downloading citation infos for quite some DOIs. Would be nice to have the ones I already downloaded in cache. Would that be possible?

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2019-03-06 18:29] sckott commented on #185
thanks for the issue @HeidiSeibold Its definitely possible, but will have to think more about it.

So I can get a very clear look at the use case:

- do you imagine only wanting this for `cr_cn`, or other fxns, maybe that's the only one you use?
- do you care what the cache is? do you want to cache to a file path that you set? or let the pkg take care of the caching behind the scenes and you just

[2019-03-07 08:04] HeidiSeibold commented on #185
Hi @sckott, thanks for the quick answer.

I've been using only `cr_cn()` so far to get paper infos from DOIs and to me it does not really matter what happens behind the scenes as long as it is faster than downloading the information (sometimes my connection is a bit slow, which is why I am asking for the cacheing in the first place :wink:). Does that answer your questions?

Previously I'd been usi

[2019-03-07 18:19] sckott commented on #185
thanks for the further details @HeidiSeibold

slow connection is a good reason, and even if you have a fast one, it's good to not have to wait for a query you've made recently already

I'm thinking this through now. Hoping to have something to try soon ...

[2019-04-17 18:38] sckott commented on #185
@HeidiSeibold sorry for the delay on this, could add a temporary solution, but wanted to get a good solution that is general purpose and robust, etc. - working on it here https://github.com/ropenscilabs/webmiddens/

[2019-04-18 06:51] HeidiSeibold commented on #185
No worries, it's not something urgent. Thanks for letting me know ;)

[2019-04-23 17:24] sckott commented on #185
okay, thanks

[2019-04-24 18:50] Bubblbu opened #186 "Add ".progress" option for deep pagination"
I was wondering if it would be possible to add the option to display the plyr progress bar for deep pagination with the `cursor="*"` option. Currently, to my understanding, only lists of identifiers are supported.

[2019-04-25 04:32] sckott commented on #186
thanks, i'll take a look.

[2019-04-30 23:57] sckott commented on #186
@Bubblbu okay, made a change, try

[code]

[2019-05-01 01:34] Bubblbu commented on #186
works like a charm. awesome!

thanks!

[2019-05-01 01:34] #186 closed

[2019-05-01 02:24] sckott commented on #186
great, glad it works

[2019-05-03 20:34] sckott opened #187 "fix vcr fixture read error"
https://www.r-project.org/nosvn/R.check/r-devel-linux-x86_64-debian-clang/rcrossref-00check.html

[2019-05-03 22:36] sckott commented on #187
fixed in 39e137a

[2019-05-03 22:36] #187 closed

[2019-05-28 20:16] ciakovx opened #189 "cr_citation_count() not vectorizing"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

Last week I was able to pass a vector of DOIs to `cr_citation_count()`. However now it's throwing `Error: Bad Request (HTTP 400)`. However, it does work on a single DOI.:

[code]

[2019-05-28 20:41] sckott commented on #189
thanks @ciakovx - you're running v0.8.4, which at that time only supported 1 DOI per fxn call - > 1 was introduced here https://github.com/ropensci/rcrossref/releases/tag/v0.9.0

[2019-05-28 21:38] ciakovx commented on #189
Thanks! The reason it worked last week is I was on my other computer with the newer version. Working now. I appreciate your help.

[2019-05-28 21:38] #189 closed

[2019-06-11 10:19] tklebel opened #190 "Better documentation for cursor behaviour"
This request is related to #157.

I didn't know anything about cursors before trying out the package, and the documentation, though very comprehensive, wasn't clear enough for me.

Furthermore, the following try gave an unexpected error:

[code]

I think writing a small section (like your last post in #157) and putting it somewhere in the docs or a vignette would be really helpful! (And maybe catc

[2019-06-11 20:07] sckott commented on #190
session info please, as requested

[2019-06-11 20:10] tklebel commented on #190
@sckott done, sorry!

[2019-06-11 20:34] alapo commented on #183
I ran into a similar problem with a list of PMIDs (attached `.txt` file).  I was unable to get the DOI using `id_converter` or `rcitoid::cit_oid` as suggested by @sckott.  My code is not the most efficient but should be easily reproducible

[code]

Now using `rcitoid`
[code]

Now I combine the results I obtained into one dataframe called `combinedResults`

[code]
When I inspect the 172nd element i

[2019-06-11 22:03] sckott commented on #183
@alapo thanks for sharing!

note that `cit_oid` does accept >1 id, so. you don't have to do lapply or similar.

[2019-06-11 23:52] #190 closed

[2019-06-11 23:52] sckott commented on #190
hopefully the docs are more clear now, let me know if not

[2019-07-17 23:38] LilianYou opened #191 "cr_works() gives the wrong paper"
I would like to use function cr_works() on a paper titled "Groundwater discharge dynamics into a salt marsh tidal river" to retrieve doi.

First, I tried to do it by calling query.title in cr_works():

[code]
[code]
It gave me a list of wrong papers and the search term is NA.

Next, I  tried to do it alternatively by listing the top 5 papers with the highest scores:
[code]
[code]

It gave me anoth

[2019-07-18 00:40] sckott commented on #191
thanks @LilianYou for the report! I edited your question a bit to separate the question from the session info area.  Please include the output of running `sessInfo()` or `sessioninfo::session_info()` in the section above

[2019-07-18 00:46] sckott commented on #191
you need to pass field queries as a named list to the `flq` parameter - there's a few examples in the docs, e.g., try

[code]

[2019-07-19 20:04] LilianYou commented on #191
Hi @sckott,

I just tried the exact code you gave me. The correct paper shows up as the second paper on the cr_works() returned data list. The first one on the list is actually the second on crossref website search: https://search.crossref.org/?q=Groundwater+discharge+dynamics+into+a+salt+marsh+tidal+river

Is there a reason for the first and second paper position switch in cr_works() and crossref

[2019-07-19 20:24] sckott commented on #191
I don't know, that's up to how Crossref makes the search work.

You can try try refine your search if you pass other things, e.g., `query.container-title`, `query.author`, `query.affiliation`, etc.

[2019-07-19 20:37] LilianYou commented on #191
I see. Thank you, Scott!

[2019-08-08 14:01] #191 closed

[2019-09-28 01:17] sckott commented on #183
closing for now ... reopen if there are other questions here

[2019-09-28 01:17] #183 closed

[2019-10-15 13:03] lukasjonkers opened #193 "preventing NULL output (w/ (504) warning)"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

`cr_cn` sometimes returns `NULL` and gives a `w/ (504)` warning. Any suggestions how I can prevent this and get a citation?

[code]

[2019-10-16 21:44] sckott commented on #193
thanks for your question @lukasjonkers

The 504 indicates a server error, an error from doi.org. It's likely that was just a temporary problem for doi.org since it works now. When that does happen, you can just try again. If you want this programatically, you could have a check for any NULL outputs and then retry those DOIs.

We could fail on a failure like that 504 so that it stops on the one tha

[2019-10-22 16:17] GegznaV opened #194 "Encoding issue: some symbols are distorted"
In the add-in, I see 2 issues:

1) Encoding issue: I do not see the symbols, just some code.
2) The text does not fit into the box (the triangle  hides the text)

![image](https://user-images.githubusercontent.com/12725868/67306789-33d65380-f500-11e9-9a25-078dee812057.png)

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2019-10-22 16:57] GegznaV opened #195 "Improve posibilities to select the correct file for bibliography"
It seems that the add-in searches for the bibliography file (`.bib`) in the current working directory (WD).  Rmd files usually have different WD than the R console. This WD for Rmd files is also known as "Knit directory". If these two (the main WD and Knit directory) do not coincide, sometimes it is ambiguous to understand which directory the bibliography file will be written to (as there are 2 of

[2019-10-22 20:59] sckott commented on #194
thanks @GegznaV - can you redo the session info with rcrossref loaded

[2019-10-22 21:00] sckott commented on #195
thanks again @GegznaV - again, include your session info with rcrossref loaded so we can see what version of rcrossref you have

[2019-10-23 19:11] GegznaV commented on #194
Updated the session info:  `rcrossref` 0.9.2.9610 (2019-09-27)

[2019-10-23 19:12] GegznaV commented on #195
`rcrossref` 0.9.2.9610 (2019-09-27)

[2019-10-24 14:58] sckott commented on #194
@haozhu233 do you have time to take a look at this?

[2019-10-24 14:58] sckott commented on #195
@haozhu233 do you have time to take a look at this?

[2019-10-28 19:22] sckott opened #196 "warning on windows devel wrt addin"
doesn't seem urgent, but we should address at some point https://www.r-project.org/nosvn/R.check/r-devel-windows-ix86+x86_64/rcrossref-00check.html

may be related to https://github.com/ropensci/rcrossref/issues/194

@haozhu233  when you get a chance

[2019-10-28 19:23] sckott commented on #195
@GegznaV the person that maintains that part of this pkg is on leave for a bit

[2019-10-28 19:23] sckott commented on #194
@GegznaV the person that maintains that part of this pkg is on leave for a bit

[2019-10-28 23:40] GegznaV commented on #194
With these lines:

https://github.com/ropensci/rcrossref/blob/c1a7de5879e6a6f1c975a260523f199eb7ccd2c0/R/crAddins.R#L42

I did a small experiment:
![image](https://user-images.githubusercontent.com/12725868/67725781-39de9f80-f9ec-11e9-9933-c7827afd028b.png)

Unfortunately, the *reprex* fails in all cases:
[code]

<sup>Created on 2019-10-29 by the [reprex package](https://reprex.tidyverse.org) (v0.

[2019-10-29 21:50] sckott commented on #194
@GegznaV i added the encoding for the asc/desc symbols, try installing: `remotes::install_github("ropensci/rcrossref@addin-fixes")`

I don't know how to fix the 2nd issue, looked around a bit but can't seem to make that bit wider.

[2019-10-29 22:00] sckott commented on #195
Seems like https://github.com/thomasp85/shinyFiles could be used to help the user select a file location - don't have time right now to try this out though

[2019-10-30 13:33] GegznaV commented on #194
I can now confirm that the encoding issue is solved at `remotes::install_github("ropensci/rcrossref@addin-fixes")`
![image](https://user-images.githubusercontent.com/12725868/67862203-5a147880-fb2a-11e9-880d-54cc63347e1e.png)

[2019-11-07 23:54] sckott commented on #194
great, glad that works now.

any ideas on the other issue about spacing?  Or should consider this solved good enough?

[2019-12-09 14:41] jeroen opened #197 "Give names to vignettes"
See: https://docs.ropensci.org/rcrossref/articles/

[2019-12-17 22:23] sckott opened #198 "query.title field query gone"
via https://github.com/sckott/habanero/issues/85

[2020-03-18 21:15] #194 closed

[2020-03-18 21:16] sckott opened #200 "warning about cr addin encoding in cran checks"
https://cranchecks.info/pkgs/rcrossref

[2020-03-18 21:27] sckott commented on #159
async is not supported yet in webmockr/vcr

[2020-03-18 22:58] #198 closed

[2020-03-18 23:09] sckott commented on #200
dealt with in #194

[2020-03-18 23:09] #200 closed

[2020-03-18 23:11] sckott commented on #196
done in #194

[2020-03-18 23:11] #196 closed

[2020-03-18 23:12] sckott commented on #195
@GegznaV if you have any interest, you could try implementing and sending a PR

[2020-03-18 23:13] #193 closed

[2020-03-18 23:14] #155 closed

[2020-03-18 23:18] #58 closed

[2020-03-18 23:21] #197 closed

[2020-03-20 12:00] GilmourR commented on #167
A `shortDOI` looks like this: `https://doi.org/fx464n`. To retrieve from `Crossref`, the call is: `httr::GET(https://doi.org/fx464n)`. The `shortDOI` is sometimes written as `doi:10/fx464n`, although this form cannot be used to retrieve from `Crossref` with `GET()`, nor can it be used as an abbreviated URL in a browser. It is necessary to write the full `shortDOI`:  `https://doi.org/fx464n`, which

[2020-03-27 22:52] sckott commented on #185
@HeidiSeibold if you have time, i have something ready for you to try now:

[code]

[2020-03-27 22:53] sckott commented on #185
@maelle if you have a chance, also curious to hear your input on this - see above comment ^^

[2020-03-28 13:11] maelle commented on #185
comments in #202

[2020-03-28 13:20] maelle commented on #185
I installed using your instructions but it doesn't seem anything is cached?

[code]

<sup>Created on 2020-03-28 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-03-28 15:23] sckott commented on #185
woopsy, for now need to explicitly load webmiddens with `library(webmiddens)`, see changed instructions above. I also meant to have the same `cr_cn` request, so fixed that. I'll have to figure out if I can make it work without having to load webmiddens

[2020-03-28 16:24] maelle commented on #185
aaah ok now it works. As written in my comments I'd expect the enabling/configuration to be specific to rcrossref (i.e. if I write footstuff the cache would be in `/home/maelle/.cache/R/rcrossref/foostuff` not `/home/maelle/.cache/R/foostuff`

[code]

<sup>Created on 2020-03-28 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-03-28 17:56] sckott commented on #185
glad it works now!

that's a good idea to have the cache folder be specific to the package its being used in.

[2020-04-26 05:38] shaniAmare opened #204 "Help: Need to get details of all the dois citing a particular DOI"
HI to the developers rcrossref (@sckott, @ropenscibot),

Thank you for this wonderful package!

I was wondering whether there has been any progress with identifying the other publication details citing a DOI? I see some information here saying that it is not implemented in rcrossref : https://ciakovx.github.io/rcrossref.html.

If this is the case, can an expert guide me on an alternative way to do

[2020-04-27 16:16] sckott commented on #204
thanks for opening an issue @shaniAmare

please be more specific. what does this mean: "identifying the other publication details citing a DOI" - what are "other publication details"

[2020-04-27 21:07] shaniAmare commented on #204
Thanks for the reply @sckott ... and sorry for the confusion!

By other publication details, I mean particularly the dois of the articles that cite a particular article - similar to the results we see when we click on "_Cited by_" in `Google Scholar` .

Is there a way to get this within R somehow? I think if it is achievable, `rcrossref` might be the only package that can make it happen. Another R

[2020-04-27 21:27] sckott commented on #204
You can try `cr_citation_count` function  to get count of citations, but you can't get the citations themselves from Crossref.

As mentioned in that tutorial you linked to, you can try the https://github.com/ropenscilabs/citecorp citecorp pkg, a client for the open citation corpus.

[2020-04-27 21:50] shaniAmare commented on #204
Thanks! I will check `citecorp` out! It would have been nice if there was a function similar to `cr_citation_count` to get the dois of those counts (i.e. `cr_citation_data`) through `rcrossref`. But looking at your code, I understand that, this is not trivial...

Thanks for all the help, Scott!

Cheers,
Shani.

[2020-04-27 21:50] #204 closed

[2020-04-27 22:24] sckott commented on #204
I IS NOT POSSIBLE. The data is not made available

[2020-04-27 22:52] shaniAmare commented on #204
Noted- thanks!

[2020-05-29 14:01] #195 closed

[2020-06-08 06:17] Adafede opened #205 "id_converter() not converting PMIDs correctly"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

Hi,

Thank you very much for your beautiful package.

I am using your package to retrieve DOIs from various sources. When working with titles, I use your cr_works() function which is great.

However, when working with pubmed IDs, I face following issue:

Some valid pubmed IDs seem not to be recognized.

As an example: [

[2020-06-08 16:56] sckott commented on #205
thanks for the report, having a look

[2020-06-08 17:51] sckott opened #206 "dplyr::tbl_df -> tibble::as_tibble"

[2020-06-08 18:02] sckott commented on #205
The API request is here https://www.ncbi.nlm.nih.gov/pmc/utils/idconv/v1.0/?tool=rcrossref&email=myrmecocystus%40gmail.com&ids=28371833&idtype=pmid&format=json which gives the same response. So the problem is on the NCBI end of things. Not sure why they're saying its an invalid article ID.

(related issue https://github.com/ropensci/rcrossref/issues/183 )

open citations corpus (https://github.com

[2020-06-08 18:05] Adafede commented on #205
My bad... sorry for not re-opening there!

Strange from NCBI...but entrez seems to do the job correctly

[2020-06-08 18:08] sckott commented on #205
no worries about opening this issue.

its hard to say why the problem is happening. the API service for id converter may be using some older database or something, there's no clarity on what's going on behind the scenes. You may be better of for ID conversion to us rentrez

[2020-06-08 18:42] #206 closed

[2020-06-11 07:07] Adafede opened #207 "Score system"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

Hi,

Another issue, or question this time:

Let's take as example the following entry (X):

After running ref retrieval (`cr_works(query = X,
      sort = 'score',
      order = "desc")`)
at rank 1, I obtain

with a score of **72.79652** . This result is **WRONG**

When giving only (Y):

(`cr_works(query = Y,
      sort

[2020-06-11 16:11] sckott commented on #207
thanks for the issue  @Adafede

in your use case, do you have the ability to split up the components of the citation, eg., to authors,  title, volume, issue, year, etc. ?

[2020-06-11 18:45] Adafede commented on #207
It is precisely my problem. I work with heterogeneous data. Some data is insanely clean and each field atomic, other one contains everything mixed up with no characterizable splitter to allow splitting of the data. (the example I posted is fat from being the worst one)

If I can split, I do but sometimes I sadly can't confidently.

[2020-06-12 01:43] sckott commented on #207
Have you tried field queries?

I think this may work better:

[code]

[2020-06-12 10:02] Adafede commented on #207
I had a quick look at it thinking it could indeed be a good option but did not test them yet!

I'll try with your suggestion and come back to you.

Thank you very much :)

[2020-06-20 08:54] Adafede commented on #207
Hi, coming back to you again, it works indeed way better!

Thank you very much!

[2020-06-20 15:07] sckott commented on #207
great, glad it works!

[2020-06-20 15:07] #207 closed

[2020-09-21 20:15] sckott opened #208 "add additional fields to cr_works"
prompted from an email - noticed that there's more fields we weren't picking up in `cr_works`

[2020-09-21 20:20] #208 closed

[2020-09-21 20:50] sckott opened #209 "move bibtex to suggests; use conditionally"
because orphaned on cran, do by Oct 4th.

[2020-09-30 22:12] #76 closed

[2020-09-30 22:13] sckott commented on #205
at least I don't think there's anything left to do here

[2020-09-30 22:13] #205 closed

[2020-09-30 22:56] #209 closed

[2020-11-04 02:59] shaniAmare opened #210 "Get the citation count for the a publication for a particular period"
Hi @cboettig and @sckott,

Sorry for the naive question.

I am using the `rcrossref` package for a database I am developing. I was wondering whether there is any way that I can, for a publication, get the citation count for a particular year only? Say, for example, a particular DOI, get the number of citations for the year 2020 only?

I looked around but I couldn’t find an answer to this anywhere.

[2020-11-04 16:29] sckott commented on #210
Thanks for your question. To clarify, I assume you mean count of papers citing paper X, vs. the number of references paper X cites?

If the former, and the one most people want, that's generally heavily protected data by publishers as they think its a business advantage for them not to share it.

You may be able to get it via Scopus or WOS if you have access to those. We have the function here `cr

[2020-11-29 07:51] aroranipun opened #211 "Error with cr_works"
**Code:**
_cr_works(query = "human agency",limit = 1000)_

**Error:**
_Error in data.frame(domain = paste0(unlist(zzz$`content-domain`$domain),  :
  arguments imply differing number of rows: 1, 0_

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2020-11-29 07:58] aroranipun opened #212 "cr_works has missing entries in result when deep_paging vs regular search"
CODE:
f1<-cr_works(query = "human agency",cursor_max =100,cursor = "*")
f<-cr_works(query = "human agency",limit = 100)

c1= names(f1$data)
c2= names(f$data)

c2[which(!c2 %in% c1)]

Result

[2020-11-30 18:08] #211 closed

[2020-11-30 18:08] sckott commented on #211
thanks, should work now

[2020-11-30 19:46] sckott commented on #212
please include session info as requested: output of `devtools::session_info()` or `sessionInfo()`

[2020-12-01 19:03] aroranipun commented on #212
Just added session information.
PS: Also, many thanks for solving the problem in the previous [issue](https://github.com/ropensci/rcrossref/issues/212#issuecomment-736001840).

[2020-12-02 01:29] sckott commented on #212
Thanks for that. of course.

If we look at an example where we can quickly collect all results, both regular and deep paging get the same results, but just in different order

[code]

So I think the discrepancy you're seeing is deep paging extracting results using different code on their servers than what is used for regular search. It's not ideal, but I think that is what's going on. We're as far

[2021-01-27 02:05] simmichj opened #214 "Generated bibtex keys not unique"
Bibtex keys appear to just be formatted as just "[author surbname]_[year]". That is, last name of first author and year, separated by an underscore character. This commonly generates non-unique keys for multiple publications by the same author in the same year, which is a common occurrence for many use cases (for instance, the example given in the `rorcid` package is to extract the DOI information

[2021-01-27 17:13] sckott commented on #214
Thanks for the issue.  Are you looking for some sort of change in rcrossref? What are you after?

[2021-06-10 16:51] majohansson opened #215 "Error generated in cr_GET"
I'm getting an error with the cr_works() example (see below). Using a windows machine on the same network, same R version, I get no error.

cr_works(query="NSF")
Error in cr_GET(endpoint = path, args, todf = FALSE, ...) :
  res$response_headers$`content-type` == "application/json;charset=UTF-8" is not TRUE

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2021-06-11 18:14] sckott commented on #215
Thanks for the report @majohansson I'll have a look

[2021-06-11 22:32] sckott commented on #215
I can't reproduce the error right now. Can you try it again?

It was likely a temporary down time on the Crossref side.

[2021-07-01 22:32] ppolischuk opened #216 "New Crossref REST API coming soon"
Hi,

Thank you for maintaining one of the documented libraries for using the Crossref REST API.

We’ve been working on a new version of the REST API, replacing the Solr backend with Elasticsearch and moving from our own hardware in a datacenter to a cloud platform.

We plan to cutover to the new version shortly (expect an official announcement on our blog in the next few days with more details), a

[2021-07-12 09:59] willguest opened #217 "Field queries are not working"
# Steps to reproduce (following the documentation):

## query.author
resT1 <- cr_works(query = "ecology", flq = c(query.author = 'Boettiger'))
noResT1 = resT1$meta$total_results

## query.container-title
resT2 <- cr_works(query = "ecology",
                flq = c(`query.container-title` = 'Ecology'))
noResT2 = resT2$meta$total_results

These searches give exactly the same results, suggesting the

[2021-07-15 10:12] befriendabacterium commented on #215
Hi there,

@nealhaddaway and I just tried running some old code (https://github.com/befriendabacterium/doifetchR) and got exactly the same error. CrossRef  doesn't seem to be down right now. Any ideas what's causing this please?

Thanks!
Matt

[2021-07-15 10:19] nealhaddaway commented on #215
I fixed the issue by adding my email to the R environment as suggested in the Documentation:

To pass your email address to Crossref via this client, simply store it as environment variable in .Renviron like this:
1. Open file: file.edit("~/.Renviron")
2. Add email address to be shared with Crossref crossref_email = ***@***.***
3. Save the file and restart your R session
__________________________

[2021-07-15 10:27] rossmounce opened #218 "simple functions not working today. CR API change related?"
I haven't played with rcrossref for a while but it just doesn't seem to be working for me. Perhaps related to #216 ?
Or the major upgrade to R 4.1.0?

[code]

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2021-07-15 13:13] sckott commented on #218
may have been a temporary issue. is it still happening now? i can't replicate it

[2021-07-15 13:26] njahn82 commented on #218
it is related to #216 and changes have become effective today for people not using the Polite or Metadata Plus pool. @rossmounce add your email address and then your request should be handled by the polite pool.

https://github.com/ropensci/rcrossref#register-for-the-polite-pool

[2021-07-15 13:51] rossmounce commented on #218
@njahn82 thank you!  I will register for the polite pool

[2021-07-15 20:13] bmkramer commented on #218
The polite pool will transition to the new API version on August 3 (https://www.crossref.org/blog/behind-the-scenes-improvements-to-the-rest-api/) so the issue might re-occur then...

@njahn82 any idea already on what could be causing this?

[2021-07-28 18:55] njahn82 opened #219 "facet=TRUE fails with new REST API"
Return all facets not supported by re-launched API #216 :

https://api.crossref.org/journals/1803-2427/works?facet=t

and

https://api.crossref.org/journals/1803-2427/works?facet=*

don't work.

[code]

<sup>Created on 2021-07-28 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>
</details>

[2021-07-28 18:56] njahn82 commented on #216
Hi @ppolischuk can you confirm that returning all facets calling https://api.crossref.org/journals/1803-2427/works?facet=t will be no longer supported?

[2021-07-29 17:03] ppolischuk commented on #216
Thank you, I can reproduce that issue and will discuss with our team shortly. I'll be tracking that here: https://gitlab.com/crossref/issues/-/issues/1393

[2021-08-05 20:29] ppolischuk commented on #216
Hi @njahn82,

Presently, returning all facets via your example request does not work in the new API via the public pool, but still works via the polite and plus pools still being served by the old API, eg https://api.crossref.org/journals/1803-2427/works?facet=t&mailto=ppolischuk@crossref.org

However, performance via the polite and plus pools is extremely slow for `facet=*` requests, and accordin

[2021-08-17 18:33] njahn82 commented on #216
Hi @ppolischuk,

Thanks for catching up. I am also unsure about how and to which extent it was used. As a fix, I pasted all valid facets together instead of using `facet=*` and the performance seems to be ok.

https://api.crossref.org/works/10.13039/100000001/works?rows=0&facet=issn%3A%2A%2Ccontainer-title%3A%2A%2Cjournal-issue%3A%2A%2Clink-application%3A%2A%2Caffiliation%3A%2A%2Cassertion%3A%2A%2

[2021-08-18 10:59] #219 closed

[2021-08-18 11:03] njahn82 commented on #219
Fixed.
[code]

<sup>Created on 2021-08-18 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-08-18 11:06] njahn82 commented on #218
{rcrossref} was updated to reflect Crossref's REST API updates for the public and polite pool #216

[2021-08-18 11:08] njahn82 commented on #216
{rcrossref} dev version was updated to reflect Crossref's REST API updates for the public and polite pool.

Will be prepared for CRAN submission in the upcoming weeks.

[2021-08-18 11:28] njahn82 commented on #217
Hi @willguest,

Thanks for your report. Can you please provide a [reproducible example](https://reprex.tidyverse.org/). I cannot reproduce your report:

[code]

<sup>Created on 2021-08-18 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-08-27 14:23] jdblischak opened #221 "UTF-8 error for format citeproc-json with new crossref API"
I just installed the latest GitHub version to solve the issue with the polite pool described in #218. However, now I am getting a new error, which I suspect is due to the UTF-8 encoding changes in the new crossref API discussed in #216.

The problematic DOI is [10.5194/bg-2021-40](https://doi.org/10.5194/bg-2021-40). Both the first author's surname (Muëller) and the title (<i>p</i>CO<sub>2</sub>)

[2021-08-30 09:41] njahn82 commented on #221
Thanks for this, I can confirm this API behavior. As it seems to be an server issue, I think I won't be able to fix this. Maybe the option `citeproc-json-ish` works for you instead as it seems not be affected from this encoding issue?

[code]

<sup>Created on 2021-08-30 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-08-31 13:48] maelle opened #222 "User-friendlier interface for email storing (Polite Pool)?"
At the moment the email address is stored in `.Renviron` which is not easy (although one can get used to it, and use `usethis::edit_r_environ()`).

Could rcrossref use some app dir instead? There'd be a function `rcrossref::register_email()` where one could provide the email address as argument / type it in the console and it'd be stored somewhere in a directory found with `tools::R_user_dir()`.

[2021-08-31 14:03] maelle commented on #185
@njahn82 an app dir might also be a good default location for a cache on disk? (probably an optional one?). If I remember correctly, webmiddens development has been suspended.

[2021-10-05 12:20] joni73 opened #223 "Submit insttoken in header: X-ELS-Insttoken"
Where to place Instoken,... I guess it is not implemented to be automatically
fetched from ,Renviron ?

==

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2021-10-05 12:39] njahn82 commented on #223
Sorry, I do not understand your question, can you please clarify?

[2021-10-05 15:38] BB1464 opened #224 "rcrossref"
Hi Dear All,
   I am having issues with the rcrossref package it seems that the API is not working again my email address is already set and saved in my environment. The package was working before but now it is not working again. Please how can I resolve this?

Thank you and best regards.

[2021-10-11 16:02] BB1464 commented on #224
Ok, Thank you, I really appreciate it!!!

[2021-10-30 07:54] schiavone1 commented on #221
Has anyone figured out a way to get around this error? I've installed the lastest dev version and am having no luck.

Error in cr_GET(endpoint = sprintf("works/%s/agency", x), args = list(),  :
  res$response_headers$`content-type` == "application/json;charset=UTF-8" is not TRUE

[2021-10-30 20:34] FlukeAndFeather commented on #221
@schiavone1 I don't think there's a workaround possible from the `rcrossref` side. I made a [pull request](https://github.com/ropensci/crul/pull/164) to fix the underlying issue in `crul`. You might try installing my version of crul (`remotes::install_github("FlukeAndFeather/crul", ref = "enc_detect")`) and see if that works for you.

[2021-11-01 08:17] bobmuscarella opened #225 "cr_cn fails with some valid DOIs"
`rcrossref` is returning errors with some valid DOIs (a sample below).  These are valid, as confirmed on doi.org.  Any ideas what is going on or how to fix?

Please note that I am using the most recent dev version of `rcrossref` and I have added my email to the R.environment as per instruction on the `rcrossref` Github page.

Thanks for any help!

<details> <summary><strong>Session Info</strong></

[2021-11-04 14:01] njahn82 commented on #221
Great, thank you @FlukeAndFeather will wait for the crul merge!

[2021-11-04 14:07] njahn82 commented on #225
Thank you for raising this issue @bobmuscarella  It seems Crossref API does not encode these outputs to UTF-8. I will alert Crossref about it. The issue is also addressed in #221

[2021-11-04 15:02] njahn82 commented on #225
Asked Crossref team about header encoding: https://gitlab.com/crossref/issues/-/issues/1574

[2021-11-10 14:41] Adafede commented on #218
Do we still have to install the dev version from GitHub as a workaround?

[2021-11-10 15:18] njahn82 commented on #218
Yes, please install dev version. Still not updated the version on CRAN

[2021-12-08 14:15] wcerfgba commented on #221
This has been fixed now as of crul 1.2. I updated my crul with `install.packages` but I am still getting this error with rcrossref. Is there a way I can force rcrossref to use my installed version of crul?

[2021-12-08 16:24] Bisaloo commented on #221
@wcerfgba, you also need to install the development version of rcrossref (`remotes::install_github("ropensci/rcrossref")`) because there is one check still present in the CRAN version (removed in https://github.com/ropensci/rcrossref/commit/2382789118ff44e89234ca826ba7327f09ecb660).

[2021-12-13 09:35] njahn82 commented on #215
Hi @nicole-brewer can you share the doi you tried?

[2021-12-13 12:45] nicole-brewer commented on #215
Solved. The problem was that I was using the DOI (10.1007/s41781-021-00069-9), instead of the full url (https://doi.org/10.1007/s41781-021-00069-9).

[2021-12-16 12:10] majohansson commented on #215
The email fix didn't work for me. I did figure out a work around though. I edited cr_GET() in two places:

    # on_error(sprintf("%s (%s): %s - %s", res$status_code,
    #   rcrossref:::err_type(res), rcrossref:::get_route(res), rcrossref:::get_err(res)), call. = FALSE)
    on_error(sprintf("%s (%s): %s", res$status_code,
        rcrossref:::err_type(res), rcrossref:::get_route(res)), call. = FAL

[2021-12-16 18:03] sckott commented on #215
the problem is on Crossref's side. they should not be changing content type on an error, but apparently they do. the content type on error is probably html, but it's not always that, just sometimes. the reason the content type check is there is that we want to avoid trying to parse the wrong content type of data, which will fail. the ultimate fix would be to have crossref fix how they return error

[2021-12-22 19:05] jdblischak commented on #221
I confirmed that my original issue is now fixed by installing crul 1.2 and the dev version of rcrossref. Please let me know if there is any additional testing I can do to help get this updated version submitted to CRAN.

[code]

[2022-01-26 09:35] towitter opened #226 "agency not found - proceeding with 'crossref' ..."
Hi there,
I am repeatedly getting the warning 'agency not found' (see referenced issue that was closed before). I am posting below my output from the command @sckott suggested back then. Maybe it helps to clarify why that warning appears?
Thanks in advance!

So, I followed that advice and this is what R returns:

[2022-01-26 10:16] njahn82 commented on #226
Hi @towitter

Can you provide me with your session info, especially which rcrossref version you are using. Here's my reprex

[code]

<sup>Created on 2022-01-26 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2022-01-26 15:48] towitter commented on #226
Here you go @njahn82

Error in cr_GET(endpoint = sprintf("works/%s/agency", x), args = list(),  :
  res$response_headers$`content-type` == "application/json;charset=UTF-8" ist nicht TRUE

- Session info -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[2022-01-26 20:26] njahn82 commented on #226
Please re-install rcrossref using the dev version.

[code]

CRAN version has not been updated yet.

[2022-01-27 07:11] towitter commented on #226
Ok, I did. Unfortunately, the warnings still return.

`rcrossref::cr_cn("https://doi.org/10.1073/pnas.1915841117", 'text')
[1] "Agrawal, M., Peterson, J. C., & Griffiths, T. L. (2020). Scaling up psychology via Scientific Regret Minimization. Proceedings of the National Academy of Sciences, 117(16), 8825–8835. doi:10.1073/pnas.1915841117"
**Warning message:
https://doi.org/10.1073/pnas.1915841117

[2022-01-27 18:51] njahn82 commented on #226
I think the issue is that the API does not support DOI links, but just DOIs. Please call `cr_cn` using DOIs only to avoid the warning.

[code]

<sup>Created on 2022-01-27 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2022-01-27 20:40] towitter commented on #226
That solved the issue - thank you so much!

[2022-01-27 20:40] #226 closed

[2022-01-31 12:23] w0lfsoul opened #227 "Issues in accessing CrossRef works in R (problem in caracter encoding (UFT8))"
I am trying to get a reference from **Cross Reference** using `rcrossref::cr_cn`, with the following code
[code]

and I obtain the following **error message:**

*Error in cr_GET(endpoint = path, args, todf = FALSE, ...) :
  res$response_headers$`content-type` == "application/json;charset=UTF-8" is not TRUE*

I have tried to manually change the encoding:
```doi=enc2utf8(doi)```
or
```doi= stringr::

[2022-01-31 12:34] njahn82 commented on #227
Hi, please update the package using the dev version available on GitHub.

[code]

The dev version fixes issues, which occurred after Crossref's API migration.

[code]

<sup>Created on 2022-01-31 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2022-01-31 13:03] w0lfsoul commented on #227
perfect!!!
many thanks

[2022-02-11 12:18] jumattern commented on #227
I unfortunately still get the error, even after updating the package to the dev version of Github:
[code]

[2022-02-11 12:39] njahn82 commented on #227
Cannot replicate. Can you share a [reprex](https://reprex.tidyverse.org/) including session info with me?

[code]

<sup>Created on 2022-02-11 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

<details style="margin-bottom:10px;">
<summary>
Session info
</summary>

[code]

</details>

[2022-02-11 12:50] jumattern commented on #227
Sorry for the hassle, problem seem to be resolved now. I guess it was related with the local  RSPM/renv config. Works fine now, thank you!

[code]

[2022-02-11 12:51] njahn82 commented on #227
No worries, glad it works!

[2022-02-20 11:26] njahn82 commented on #225
Hi @doomlab  Crossref has not fixed the issue yet, but there has been an update on how crul, rcrossref's underlying http client, deals with header encodings (see [here](https://github.com/ropensci/crul/pull/164)). Good news, if you update to the most recent crul version on CRAN (1.2.0), at least the first three examples work; `cr_cn("10.1111/geb.13346")` returns an internal server error.

[code]

[2022-02-22 20:27] shashigaonkar opened #228 "rCrossRef"
I am new to both R and GitHub. I am trying to use rCrossRef. I have registered my email in the Polite Pool using the codes below:
usethis :: edit_r_environ()                  followed by ,
crossref_email = example@mail.com

When I try to use rCrossRef to look up for journal details the error message pops up in R.

 Error in cr_GET(endpoint = path, args, todf = FALSE, parse = TRUE, ...) :
  res$res

[2022-03-17 10:56] TobiasPolak commented on #228
I am having the same issue. It used to work perfectly well for me. Any ideas?

[2022-03-24 17:18] covid19ec opened #229 "rcrossref is not returning answer giving issues about curl_fetch_memory"
Hi all. I am using `rcrossref` to get some values using ISSN. The code is very simple and yesterday I ran it a couple of times and worked. Now, I am re running the same code and I am getting an error. This is the code:

[code]

And I am getting this error:

[code]

I am using the dev version of rcrossref but I do not what is happening because yesterday it worked. I would like to know if there is a

[2022-03-24 17:28] njahn82 commented on #229
Hi,  many Crossref services including the API are currently down: https://twitter.com/CrossrefSupport/status/1506898745484406786

Not sure when the API is back.

[2022-03-24 19:13] covid19ec commented on #229
@njahn82 Many thanks for the advice. Maybe could you help me with another question? How many requests (for example) can I send to the API? Is there a limit for that?

[2022-05-22 19:25] LukasWallrich commented on #227
@njahn82 and team - we would love to use rcrossref to enhance [namedropR](https://github.com/nucleic-acid/namedropR) ... so we were wondering when you are planning to submit these fixes to CRAN?

[2022-05-24 16:01] njahn82 commented on #227
Thanks for the great news. I'll try to make it ready for CRAN in the next two weeks.

[2022-07-08 02:56] BEFH opened #230 "Cannot retrieve works ("application/json;charset=UTF-8" is not TRUE)"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

When I attempt to run `cr_works()`, it fails with the following error:

[code]

No DOI or URL works. Did CrossRef change their API?

[2022-07-08 18:28] #224 closed

[2022-07-23 05:34] agricolamz commented on #230
Same here...

[code]

I added my mail to `~/.Renviron`

<Details>

[code]

</Details>

[2022-08-11 18:12] dansmith01 commented on #230
The development version (1.1.0.99) is working for me. The one on CRAN (1.1.0) is giving me the same error that @BEFH and @agricolamz reported.

[2022-08-11 19:14] nucleic-acid commented on #227
Dear @njahn82 and team,
Do you have an updated timeline for the next update?

Sorry to bother you on this one again. CRAN requires us to update the namedropR package and I'd like to include the CrossRef functionality while I update.

If you're not planning to update in the foreseeable future that's okay. I'll just need to move that feature to a future CRAN update then.

[2022-08-24 18:17] tatashe opened #231 "facet=TRUE fails for cr_works(dois="
trying to run the following fails, though using query does not.

`> test <- cr_works(dois = '10.1590/S0104-12902020200348', facet=TRUE)
Warning message: 400 (client error): /works/10.1590/S0104-12902020200348 - This route does not support facet `

[2022-08-25 01:27] tatashe commented on #231
found a workaround using cr_cn
`ref <- cr_cn(dois = '10.1590/S0104-12902020200348', format = "citeproc-json")`
and then author affiliations are accessible using
`affil <- ref[["author"]][["affiliation"]]`

[2022-08-25 01:27] #231 closed

[2022-08-25 14:23] njahn82 commented on #227
Sorry @nucleic-acid for the late reply, I am planning to submit the changes to CRAN. You can follow the progress here: https://github.com/ropensci/rcrossref/tree/cran_1.2

[2022-08-29 14:56] majohansson opened #232 "New JSON error error w dev version"
I was getting similar JSON error messages as posted before, so installed the dev version of the package and now get the following error:

Loading required package: rcrossref

Error: lexical error: invalid char in json text.
                                       <html>   <head>     <title>We'v
                     (right here) ------^

<details> <summary><strong>Session Info</strong></summary>

[c

[2022-09-05 14:39] majohansson commented on #232
Update here. This appears to be something else I have triggered on my end inadvertently. What is being returned is html for this page: https://assets.crossref.org/ip-blocked_api.html. HTML not JSON, thus the error from rcrossref. However the problem is something I did wrong somewhere and I will try to sort that out. Not an rcrossref problem.

[2022-09-05 14:39] #232 closed

[2022-10-03 14:36] Aariq commented on #230
I had this issue and tracked it down to a problem with capitalization of "UTF" not matching what was expected ("utf").  But it looks like it's fixed in the development version on GitHub

[2022-10-31 20:32] jdblischak commented on #221
Any update on a future CRAN release? Anything I can do to help with this?

[2022-11-02 20:03] theamarks commented on #230
Hi All, I am having the same issue using the CRAN 1.1.0 version. Can you point me to the development version that is working? I tried `devtools::install_github("ropensci/rcrossref@api_update")` with no luck. Where are the development versions listed?

[2022-11-02 20:46] Aariq commented on #230
If you just use `devtools::install_github("ropensci/rcrossref")` it will install the current development version.

[2022-11-02 20:48] Aariq commented on #230
@njahn82, it might be good to make a patch release for CRAN if this fix isn't in the CRAN version yet

[2022-11-08 20:58] jdblischak commented on #230
This fix isn't on CRAN yet. See also https://github.com/ropensci/rcrossref/issues/221#issuecomment-999800245

Related to a CRAN update, the package is currently failing CRAN checks, so it is in risk of being archived

https://cran.r-project.org/web/checks/check_results_rcrossref.html

[2022-11-10 13:19] njahn82 opened #234 "Reduce package size"
Size of tarball: 6653124 bytes, the CRAN Policy asks for no more than 5MB.

Will reduce size of recorded HTTP requests

[2022-11-12 09:00] #234 closed

[2022-11-12 09:02] njahn82 commented on #230
New CRAN release 1.2.0 fixes this issue.

[2022-11-12 09:02] #230 closed

[2022-11-12 09:09] njahn82 commented on #229
Hi @covid19ec , calling `verbose = TRUE` gives you some more information about your request, including rate limits. Usually, you should be able to perform 50 requests a second.

[code]

[code]

[2022-11-12 09:10] njahn82 commented on #228
The latest CRAN release fixes this issue.

[2022-11-12 09:10] #228 closed

[2022-11-12 09:12] njahn82 commented on #221
Hi @jdblischak An updated version of rcrossref is now available on CRAN

[2022-11-12 09:13] njahn82 commented on #218
The updated version is now available on CRAN, thanks for you patience!

[2022-11-12 09:13] #218 closed

[2022-11-12 09:15] njahn82 commented on #216
The latest version is now also available on CRAN

[2022-11-12 13:56] njahn82 commented on #227
Hi @nucleic-acid  latest rcrossref release is available on CRAN.

[2022-11-12 14:07] nucleic-acid commented on #227
Thanks for the notification! And thanks for the work to get this update into CRAN.

[2022-11-14 17:32] jdblischak commented on #221
@njahn82 Thanks so much! I confirmed that the latest CRAN release fixed my issue

[2022-11-14 17:32] #221 closed

[2022-11-17 20:33] sckott opened #235 "Change to new cran checks badge URL"
@njahn82

👋🏽  I maintain the cran checks badges. Please change to the new cran checks badge URL (e.g., `https://badges.cranchecks.info/worst/rgbif.svg`). Old badges at (e.g. `https://cranchecks.info/badges/worst/rgbif`) will be **unavailable** as of Jan 1st 2023.

- Blog post announcing the change: https://recology.info/2022/06/cran-checks-badges/
- New badges repo: https://github.com/r-hub/ccheck

[2022-11-18 12:17] njahn82 commented on #235
Thank you for the notification and for keeping up this valuable service!

[2022-11-18 12:17] #235 closed